[2018-10-22 21:17] steven1046 opened #1 "Add instructions on how to use the Docker image"
Provide instructions in the README.md or equivalent on how to use the docker image Kin/Laura created for hosting the website locally.

[2018-10-30 14:19] kinueng commented on #1
I delivered the most recent instructions in c3c58a12f745fe173b1f626fa24fb0a750ecba4e

[2018-10-30 14:19] #1 closed

[2018-10-31 19:00] kinueng opened #2 "Refine instructions on how to contribute blog posts"
Right now the instructions are in a rough state, but are enough to get someone going with blog development.

1.  Update OpenLiberty/openliberty.io README to point to this repository to find blog authoring instructions.
2.  Update the Dockerfile's comments to reflect how to use the docker image.  File here https://github.com/OpenLiberty/openliberty.io/blob/master/Dockerfile
3.  Decide if we want pe

[2018-10-31 19:36] kinueng opened #4 "Add Travis automation to auto host new commits"
When merges are made to `master`, we can add some Travis CI automation to rebuild our test environments to host new blog commits.

[2018-12-14 16:15] steven1046 opened #13 "Missing hover state on a button in the 18004 blog"
The stack overflow button in the following blog has no hover state:
https://openliberty.io/blog/2018/12/14/microprofile21-18004.html

[2019-01-24 18:34] kinueng opened #19 "Build Warning from 2018-12-20-http-forwarded-header.adoc"
There is a build warning when rendering the blog post file `2018-12-20-http-forwarded-header.adoc`.  The warning does not impact the refreshing of openliberty.io.

[code]

[2019-08-28 13:05] tomjenningss opened #792 "Managing global (XA) transactions on AWS with Websphere Liberty"
------------------
From WASdev.net
------------------

<em>By Jamie Coleman and Neil G Young</em>

<p class="wasdev-excerpt">A <a href="https://en.wikipedia.org/wiki/Transaction_processing">transaction</a> is an <em>atomic</em> unit of work in which multiple updates (e.g. to a database) must be completed within the transaction or, if there are problems, none of the updates are made at all (also kn

[2019-09-11 17:03] yeekangc opened #110 "Blog post for developer experience updates"
Updates on the latest in developer experience for Open Liberty.

https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-09-16-developer-experience-updates.adoc

[2019-09-11 17:03] yeekangc opened #111 "Blog post for Liberty Maven plugin 3.0"
What's new in 3.0 release of Liberty Maven plugin.

https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-09-18-liberty-maven-plugin-30.adoc

[2019-09-11 17:03] yeekangc opened #112 "Blog post for dev mode"
Introduce dev mode and associated improvements

https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-09-18-liberty-dev-mode.adoc

@tiu @ericglau

[2019-09-11 17:04] yeekangc opened #113 "Blog post for Boost"
What's new in Boost

https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-09-19-microshed-boost.adoc

[2019-09-11 17:04] yeekangc opened #114 "Re-direct: Blog post for MicroShed Testing"
Introduce MicroShed Testing

https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-09-20-microshed-testing.adoc

[2019-09-16 19:51] yeekangc opened #131 "Bad link for "Open Liberty 19.0.0.9" in Reactive Messaging post"
https://openliberty.io/blog/2019/09/13/microprofile-reactive-messaging.html

The link in "Get Open Liberty 19.0.0.9" points to the blog post itself?

@hutchig @Azquelt

[2019-09-17 09:13] Azquelt commented on #131
I've raised #132 to correct the URL of the 19.0.0.9 blog post. Not sure if that's the best way to fix the issue or whether we should change the links from other blog posts.

I also don't know if we can create a redirect from the old misspelled URL.

Don't think @lauracowen is in today and I'm not sure who else can merge things into this repo.

[2019-09-18 09:45] lauracowen commented on #131
Okay, I think I follow:
1. Rename the file `2019-09-13-microprofile-reactive-messsaging-19009.adoc` to `2019-09-13-microprofile-reactive-messaging-19009.adoc` (double-s, not triple-s). Create PR and assign to me.
2. Add entry to https://github.com/OpenLiberty/openliberty.io/blob/master/src/main/webapp/WEB-INF/redirects.properties to point from the old URL to the new URL (so that anyone following a

[2019-09-18 10:27] Azquelt commented on #131
1 & 2 done, thanks @lauracowen

#132 and OpenLiberty/openliberty.io#1388

[2019-09-20 08:44] lauracowen opened #133 "Fix author name in blog post"
https://raw.githubusercontent.com/OpenLiberty/blogs/master/publish/2019-09-13-microprofile-reactive-messaging.adoc

Gordon's surname is misspelt - check spelling on Bluepages and fix in the metadata.

[2019-09-25 10:48] lauracowen commented on #133
Fixed

[2019-09-25 10:48] #133 closed

[2019-09-25 10:49] lauracowen commented on #131
Fixed

[2019-09-25 10:49] #131 closed

[2019-10-10 15:23] donbourne opened #147 "Blog post for Liberty standalone logging to OKD/OCP EfK - Manual Setup"
as we have done in the past with documenting how to get a standalone non-kubernetes Liberty server to forward logs to ICP's ELK, we need to document how to do the same with OKD/OCP's EfK

[@Yushan Lin] CL18702: LG-239: Liberty standalone logging to OKD/OCP EfK - Manual Setup

[2019-10-17 13:05] lauracowen opened #154 "Blog post on Scala apps on Open Liberty"
An example application to calculate a Mandelbrot Set using Microprofile/Open Liberty microservices implemented in Scala. The goal is to demonstrate technical possibility of using Open Liberty with Scala and possibility of deploying such solution as Kubernetes services.

Submitted/authored by @krzsam (from discussion with @Emily-Jiang )

[2019-10-17 13:06] lauracowen commented on #154
Reviewed/edited/commit DCO message included. Ready to schedule for publishing: https://github.com/OpenLiberty/blogs/blob/master/drafts/2019-10-15-openliberty-with-scala.adoc

[2019-10-17 14:57] lauracowen opened #156 "Blog post: Creating Docker image for Rasberry Pi"
https://github.com/OpenLiberty/blogs/pull/137

[2019-10-17 15:08] lauracowen commented on #4
Is this something we should still do? I'm not sure I understand what it's about. @ellenwylie @steven1046

[2019-10-17 15:28] steven1046 commented on #4
I think so. When new blog commits are pushed to master, it doesn't rebuild draft-openlibertyio.mybluemix.net automatically and needs to be triggered manually. Is this something that you still need @lauracowen?

[2019-10-17 15:33] yeekangc commented on #113
This is no longer needed.  Closing.

[2019-10-17 15:33] #113 closed

[2019-10-17 15:46] lauracowen commented on #4
When posts are pushed to master, they're usually still in the `drafts` folder, so a rebuild isn't necessary. It's only when they appear in `publish` folder in `master` that the rebuild is needed. I accept stuff into `drafts` before it's ready to publish to do final edits on it more easily (rather than leaving everything in PRs).

I guess Travis probably can't spot that level of granularity (update

[2019-10-17 15:50] lauracowen opened #158 "Blog - performance improvements"
A blog post elaborating on the results that are on openliberty.io

[2019-10-17 16:35] lauracowen commented on #158
Jared will create draft in GH (prob next week).

[2019-10-18 17:09] yeekangc opened #163 "Blog posts on Space Sentry"
Write about Space Sentry, the story/journey there, and how one can replicate and build their own as well as to contribute.

[2019-10-18 17:15] yeekangc opened #164 "Blog post on Liberty Bikes"
Write about Liberty Bikes and the story there.  Invite folks to try and check it out and contribute.

[2019-10-18 17:17] yeekangc commented on #163
@MaiHameed

[2019-10-22 15:28] #112 closed

[2019-10-24 10:39] lauracowen commented on #154
https://openliberty.io/blog/2019/10/23/scala-open-liberty-kubernetes.html

[2019-10-24 10:39] #154 closed

[2019-10-24 10:40] lauracowen commented on #110
https://openliberty.io/blog/2019/10/17/dev-mode-developer-experience.html

[2019-10-24 10:40] #110 closed

[2019-10-24 12:07] lauracowen commented on #112
https://openliberty.io/blog/2019/10/22/liberty-dev-mode.html

[2019-10-24 12:08] lauracowen opened #175 "Blog post for dev mode in VSCode"

[2019-10-24 14:23] ericglau commented on #175
https://github.com/OpenLiberty/blogs/pull/170

[2019-11-13 18:28] #175 closed

[2019-11-27 11:02] lauracowen opened #202 "LogRecordContext with JSON Logging"
Improving diagnostics with added fields
    What is LRC?
    How does LRC work with JSON Logging
    Examples
        LRC with strings
        LRC with special extensions (_bool, _float, ...)

https://github.ibm.com/was-liberty/WS-CD-Open/issues/11162

[2019-11-27 11:03] lauracowen commented on #202
https://github.com/OpenLiberty/blogs/pull/199

https://github.com/OpenLiberty/blogs/blob/master/drafts/LRC-JSON-logging.adoc

[2019-11-27 11:04] lauracowen commented on #158
https://openliberty.io/blog/2019/10/30/faster-startup-open-liberty.html

[2019-11-27 11:04] #158 closed

[2019-11-27 11:05] lauracowen opened #203 "Production experience of Open Liberty"
https://github.com/OpenLiberty/blogs/pull/198

[2019-11-27 16:22] donbourne commented on #202
@Yushan-Lin , another thing I just noticed... (I assume we should update in the above adoc now):

Overall, the LogRecordContext provides the useful ability to add additional fields so they can organize, analyze, and filter their logs based on their desired field.
->
Overall, the LogRecordContext provides the useful ability to add additional fields to your log and trace records so you can organize,

[2019-11-27 16:29] donbourne commented on #202
Extensions can be removed using the following method: LogRecordContext.removeExtension(extensionName);
->
Extensions can be removed using the following method: LogRecordContext.removeExtension(extensionName);
After removing an extension, JSON output for subsequent logs/trace made on the same thread will not include that field.

[2019-11-28 16:02] #111 closed

[2019-12-03 14:33] steven1046 opened #211 "Draft blog breaking build with invalid header"
https://raw.githubusercontent.com/OpenLiberty/blogs/master/drafts/release-blog.adoc needs a space between the author's Github link and the first tag (content). There's also a missing second quote in the blog description.

[2019-12-05 16:26] #202 closed

[2019-12-17 15:19] lauracowen commented on #211
Closing as the file's now been published but I think it's fixed.

[2019-12-17 15:19] #211 closed

[2019-12-17 15:23] lauracowen commented on #147
https://openliberty.io/blog/2019/12/03/custom-fields-json-logs.html

[2019-12-17 15:25] lauracowen opened #225 "Infinispan blog post"
https://github.com/OpenLiberty/blogs/pull/216

[2019-12-20 14:40] donbourne commented on #147
Hey @lauracowen , while that's an awesome blog post, it doesn't relate to this issue 😄

[2019-12-20 14:50] #203 closed

[2019-12-20 14:50] lauracowen commented on #203
https://openliberty.io/blog/2019/12/17/production-experience-open-liberty.html

[2019-12-20 15:03] lauracowen commented on #202
https://openliberty.io/blog/2019/12/03/custom-fields-json-logs.html

[2019-12-20 15:57] lauracowen opened #227 "new logstashCollector-1.0 and json logging dashboards"
[@halim-lee @Ellen Lau] CL19389: blog about new logstashCollector-1.0 and json logging dashboards

[2019-12-20 16:01] lauracowen opened #228 "Create Prometheus alert manager"
Learn how to configure the Prometheus Alertmanager for Open Liberty and MicroProfile Metrics to send alerts via Slack. Alerts help quickly and automatically detect problems for better monitoring and maintenance of your application.

[2019-12-29 11:11] mfrembs opened #229 "Blog post "OpenLiberty: From JavaEE to Cloud-native in a smooth way""

[2020-01-06 19:12] yeekangc opened #231 "Open API Tools with MP Rest Client support"
Blog about what we have contributed to generate template interfaces for MP Rest Client.  This is targeted for 4.2.3 of Open API Tools.  Can align post with that.

Also, cover its corresponding VS Code extension if possible too.

@ericglau

[2020-01-06 19:55] turkeylurkey commented on #231
We should schedule the blog to coincide with the release of the rest client generator:
4.2.3 on 31.01.2020.

[2020-01-07 17:45] lauracowen commented on #225
ready to publish: https://github.com/OpenLiberty/blogs/blob/master/drafts/2020-01-08-infinispan-open-liberty-openshift.adoc

[2020-01-14 12:01] jamiecoleman92 opened #235 "Blog Post: Using Open Liberty with IBM MQ"
I have a blog post from 3 years ago that I find is still relevant in some ways so I would like to convert it to use newer technology (Maybe Kube) and maven:

Here is the current blog post: https://developer.ibm.com/wasdev/docs/using-docker-compose-configure-topology-websphere-liberty-ibm-mq/

[2020-01-16 14:38] aknguyen7 opened #241 "Accessiblity issue for blog post Minimise turnaround times with Open Liberty's dev mode"
Accessiblity issue for blog post Minimise turnaround times with Open Liberty's dev mode on Aug 22, 2019:
![image](https://user-images.githubusercontent.com/30509453/72534604-b55a2b00-383c-11ea-937c-3b6f925f48f1.png)

![image](https://user-images.githubusercontent.com/30509453/72533784-59db6d80-383b-11ea-9a0e-f4818b0c339a.png)

This causing DAP to fail due to it's missing the author name. Please fo

[2020-01-23 11:46] #225 closed

[2020-01-23 11:46] lauracowen commented on #225
https://openliberty.io/blog/2020/01/08/infinispan-open-liberty-openshift.html

[2020-01-27 20:42] rzgry opened #254 "Blog post for gradle dev mode support."

[2020-01-29 09:36] #227 closed

[2020-01-29 10:47] lauracowen opened #256 "Syndicate YK's post on VS Code extension for MP starter"

[2020-01-29 10:51] lauracowen opened #257 "Syndicate YK's VS Code extension for MP starter blog post"
https://github.com/OpenLiberty/blogs/blob/master/drafts/visual-studio-code-extension-for-microprofile-starter.adoc

[2020-01-29 10:52] lauracowen commented on #257
dupe

[2020-01-29 10:52] #257 closed

[2020-01-29 10:59] lauracowen opened #258 "Syndicate Thomas Sudbrocker's post about MP Starter"
https://github.com/OpenLiberty/blogs/blob/master/drafts/fast-setup-of-a-java-microservice-project-with-microprofilestarter

[2020-01-29 11:01] lauracowen commented on #4
@mbroz2 @steven1046 I guess my comment about `drafts` vs `publish` folder will be out-of-date when you tidy up the branches. What should I do with this issue?

[2020-01-29 13:13] #241 closed

[2020-01-29 14:31] mbroz2 commented on #4
Correct, the above will be invalid once the branch cleanup occurs (https://github.com/OpenLiberty/openliberty.io/issues/1517).  However, I don't think we're ready to finalize what travis should build when until we've outlined the mapping between the new branch names and the non-prod sites.  I'm also not sure what is the intent of this issue or preference of the docs team regarding when to auto-reb

[2020-01-29 14:40] lauracowen commented on #156
Thanks for doing this post. I've finally reviewed it and done some minor edits (really sorry it took so long) but I've hit a few questions that I could do with you clarifying:
- When building the docker image for ARM, can you build it on any hardware (like your x86 laptop)?
- “Build this image so it is stored locally.” - locally where? do you mean on your laptop, as opposed to where?
- The first s

[2020-01-29 14:41] lauracowen commented on #241
Fixed.

[2020-01-29 14:43] lauracowen commented on #229
https://openliberty.io/blog/2020/01/16/modernizing-javaee-cloud-native-open-liberty.html

[2020-01-29 14:43] #229 closed

[2020-01-29 14:43] lauracowen opened #259 "Java Batch"
@follis I'm just tidying up the backlog so I can see what we have outstanding (sorry for the delay in responding to the PR attached to this). Then I'm going back over the list to review/edit.

[2020-01-29 14:44] lauracowen opened #260 "Serialisation filter"

[2020-01-29 15:05] lauracowen commented on #147
This is not the custom fields in JSON logging blog post, which is linked in `#199` above and has already been published.

[2020-01-29 15:12] lauracowen commented on #13
What syntax should be used to give hover state? I can't see how to do alt text in Asciidoc - the Asciidoctor user guide gives example of adding a title but the title is displayed below the image, not as hover text.

[2020-01-29 15:26] steven1046 commented on #13
Nevermind, when you hover over the button image the cursor changes into a hand which I think is enough. We can close this.

[2020-01-29 15:26] #13 closed

[2020-01-29 15:53] lauracowen commented on #19
Fixed.

[2020-01-29 15:53] #19 closed

[2020-01-29 16:58] lauracowen opened #264 "Start-up performance blog post"

[2020-03-02 18:43] pnicolucci opened #288 "Allow the SameSite attribute to be set on a Cookie"
Write a blog for the following Epic:  https://github.com/OpenLiberty/open-liberty/issues/10086

[2020-03-03 11:47] #156 closed

[2020-03-03 11:47] lauracowen commented on #156
https://openliberty.io/blog/2020/02/05/docker-open-liberty-raspberry-pi.html

[2020-03-05 04:00] pnicolucci opened #291 "Automatically compress http responses"
Things we need to ensure we include in the blog:

    Document order relative to other similar servlet body filters
    Document configuration error conditions, how to verify configuration
    is as expected(types are what is expected for example). There are also multiple examples in the design document.

[2020-03-18 10:05] #288 closed

[2020-03-19 15:28] andymc12 opened #309 "Move BYO Jackson article from WASDev to OL Blogs"
OpenLiberty supports JAX-RS 2.0 and many users run into problems with JSON serialization - and the solution is for them to package Jackson with their app. I wrote this article for WASDev.net a few years ago to address this issue for WebSphere Liberty users, but it is equally applicable to OpenLiberty users, so I think it should be ported over to the OL site.

Here is the link to the original artic

[2020-03-19 17:31] lauracowen commented on #228
https://openliberty.io/blog/2020/01/29/alerts-slack-prometheus-alertmanager-open-liberty.html

[2020-03-19 17:31] #228 closed

[2020-03-19 17:32] lauracowen commented on #254
https://openliberty.io/blog/2020/03/11/gradle-dev-mode-open-liberty.html

[2020-03-19 17:32] #254 closed

[2020-03-19 17:33] lauracowen opened #311 "SameSite update in 20.0.0.3"
https://github.com/OpenLiberty/blogs/blob/master/drafts/samesite-cookies.adoc

[2020-03-19 17:35] lauracowen opened #312 "Faster start-up for Java applications on Open Liberty with CRIU snapshots"
https://openliberty.io/blog/2020/02/12/faster-startup-Java-applications-criu.html

[2020-03-19 17:36] #312 closed

[2020-03-19 17:37] lauracowen commented on #264
https://openliberty.io/blog/2019/10/30/faster-startup-open-liberty.html

[2020-03-19 17:37] #264 closed

[2020-03-19 17:38] lauracowen commented on #260
Closing this because the capability was never delivered in runtime

[2020-03-19 17:38] #260 closed

[2020-03-25 19:05] pgunapal opened #314 "Using Open Liberty Logging with Splunk"
Blog about how to analyze Open Liberty logs with Splunk, using Docker containers.

Laura: Aim at publishing Wed 27th May.

[2020-03-25 19:08] lauracowen commented on #311
https://openliberty.io/blog/2020/03/25/set-samesite-attribute-cookies-liberty.html

[2020-03-25 19:08] #311 closed

[2020-03-26 19:58] jennifer-c opened #319 "Blog for setting up Prometheus Alertmanager on RHOCP for Open Liberty"
Similar to #223 but modified to work for RHOCP.

[2020-03-27 09:42] lauracowen commented on #291
Is this for a standalone blog post in addition to the release blog post paragraph?

[2020-03-27 15:29] pnicolucci commented on #291
@lauracowen yes that is correct we'll be writing a stand alone blog for this feature as well.

[2020-04-07 19:10] mrsaldana opened #327 "Blog for HTTP response compression"

[2020-04-08 16:06] mrsaldana commented on #327
Already tracked by #291

[2020-04-08 16:06] #327 closed

[2020-04-15 10:42] #319 closed

[2020-04-21 18:51] #291 closed

[2020-04-30 14:01] lauracowen commented on #258
Published as third-party blog post 29th April 2020

[2020-04-30 14:01] #258 closed

[2020-04-30 14:27] lauracowen commented on #231
https://openliberty.io/blog/2020/04/02/generate-microprofile-rest-client-code.html

[2020-04-30 14:27] #231 closed

[2020-05-01 13:56] kwsutter opened #347 "Use of Eclipse Transformer for Jakarta EE 9 Development and Testing - blog"
I'd like to promote our early success with the Eclipse Transformer project as it pertains to the development and testing of Jakarta EE 9 with Open Liberty.  Need to show that there are "better" ways of moving to Jakarta EE 9 other than the brute force method.

[2020-05-05 18:41] Yushan-Lin opened #349 "Blog about how to send log4J logs to EFK stack in RHOCP"
PR #335

[2020-05-13 08:36] lauracowen opened #372 "Simple Timer blog post for MicroProfile Metrics 2.3"
Issue to track progress of Simple Timer blog post for MicroProfile Metrics 2.3

[2020-05-13 08:37] lauracowen opened #373 "Asynchronous programming blog post"
Created for tracking blog post progress.

[2020-05-15 14:48] #349 closed

[2020-05-18 19:47] dmuelle commented on #314
Hi @pgunapal, can you re-create your PR  according to the new blog contributor guidelines : https://github.com/OpenLiberty/blogs/blob/draft/README.md

Once the draft is built, I can provide ID review. Thanks

[2020-05-21 18:36] andymc12 opened #418 "Blog post on MP GraphQL 1.0"
MP GraphQL 1.0 (Epic https://github.com/OpenLiberty/open-liberty/issues/7956 ) is targeted to ship with Open Liberty 20.0.0.6.  I'd like to include a blog post describing how users could build GraphQL applications and take advantage of Open Liberty value-add features like integration with application security for authorization checks, etc.

Laura: Aim to publish on Wed following the release (10th

[2020-05-22 08:24] lauracowen commented on #147
https://openliberty.io/blog/2020/05/19/log4j-openshift-container-platform.html

[2020-05-22 08:24] #147 closed

[2020-05-22 08:42] lauracowen opened #421 "Test issue"
- [x] item 1
- [x] item 2

[2020-05-22 08:42] lauracowen commented on #421
Done

[2020-05-22 08:42] #421 closed, assigned to nobody

[2020-05-22 09:35] lauracowen opened #422 "Jakarta EE beta blog post"

[2020-05-22 11:11] lauracowen commented on #256
I need to re-create or sort out branches for this. But not urgent so will come back to it.

[2020-05-25 16:16] donbourne commented on #147
This issue was is not the one about log4j (log4j post is #349)

Aside from that, I agree this issue should be closed, since we don't currently have a way to send non-k8s logs to k8s EFK.

[2020-05-27 13:39] dmuelle commented on #314
Post on `draft`

 https://draft-openlibertyio.mybluemix.net/blog/2020/05/27/how-to-analyze-open-liberty-logs-with-splunk.html

[2020-05-27 18:45] dmuelle commented on #314
Post is now live on production

https://www.openliberty.io/blog/2020/05/27/how-to-analyze-open-liberty-logs-with-splunk.html

[2020-05-28 14:42] #314 closed

[2020-06-02 12:57] lauracowen commented on #349
https://openliberty.io/blog/2020/05/19/log4j-openshift-container-platform.html

[2020-06-03 19:34] Charlotte-Holt opened #446 "Async follow-on blog post"
Write a blog post around the **Deep dive** section that was removed from the `2020-06-03-asynchronous-programming-made-resilient-with-mpft.adoc` file in https://github.com/OpenLiberty/blogs/pull/441/files. Target publish date is 6/5/2020.

[2020-06-04 19:14] Charlotte-Holt commented on #373
Blog is live at https://openliberty.io/blog/2020/06/04/asynchronous-programming-microprofile-fault-tolerance.html.

[2020-06-04 19:14] #373 closed

[2020-06-05 18:08] Charlotte-Holt commented on #446
Live at https://openliberty.io/blog/2020/06/05/asynchronous-programming-microprofile-fault-tolerance-part-2.html

[2020-06-05 18:08] #446 closed, assigned to Azquelt, Charlotte-Holt, Joseph-Cass

[2020-06-12 15:43] fwji opened #493 "Blog post on using Jaeger tracing on OpenShift"
The purpose of the blog is to demonstrate how to do distributed tracing on OpenShift in a production-ready manner with Jaeger.

Aim to publish Wed 19th August or earlier. But the [Jaeger guide](https://github.com/OpenLiberty/guides-common/issues/360) must be published first because this post links to the guide. If delayed, will be 2nd Sept or later (because of the release and beta blog post weeks)

[2020-06-12 18:38] lauracowen commented on #418
https://openliberty.io/blog/2020/06/10/microprofile-graphql-open-liberty.html

[2020-06-12 18:38] #418 closed, assigned to lauracowen, andymc12

[2020-06-26 10:02] tomjenningss opened #519 "Release notes for 20.0.0.7"
---
name: Open Liberty release notes
about: Checklist that must be completed to create and publish Open Liberty release notes.
title: Release notes for 20.0.0.7
labels: release
assignees: @lauracowen, @tomjenningss

---

This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in thre

[2020-06-26 10:43] lauracowen opened #520 "Potential third-party blog posts on IBM Developer"
Some articles/videos on IBM Developer that might be worth us linking to.

See spreadsheet listing Open Liberty-relevant posts:
https://ibm.box.com/s/7eb6ahyv9zm06ys9vswyvjxb97ny81h0

[2020-06-26 10:44] #2 closed

[2020-06-26 10:44] lauracowen commented on #2
Done as part of recent restructure.

[2020-06-26 10:45] lauracowen commented on #422
https://openliberty.io/blog/2020/06/22/jakarta-ee-9-open-liberty-20007beta.html

[2020-06-26 10:45] #422 closed, assigned to nobody

[2020-06-30 11:36] lauracowen opened #521 "Thomas Südbröcker post on securing microservice"
https://suedbroecker.net/2020/06/30/getting-started-to-secure-a-java-microservice-with-keycloak-microprofile-and-openliberty/

[2020-07-01 08:29] lauracowen commented on #521
https://openliberty.io/blog/?search=community&key=tag

[2020-07-01 08:29] #521 closed, assigned to nobody

[2020-07-01 08:36] lauracowen opened #529 "20008-beta Jakarta EE beta blog post"
Write beta post for the Jakarta EE beta features only with some background based on Kevin's previous draft.

[2020-07-09 17:37] ericglau opened #572 "Blog post on tech preview for dev mode with containers"
The purpose of this blog post is to announce the tech preview for [dev mode with containers](https://github.com/OpenLiberty/ci.maven/blob/master/docs/dev.md#devc-container-mode) so that developers can try it out and give feedback.

[2020-07-15 12:08] jakub-pomykala opened #579 "Release notes for 20.0.0.9"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2020-07-16 02:25] ericglau commented on #572
Draft: https://github.com/ericglau/blogs/blob/devc/posts/2020-07-24-dev-mode-containers-preview.adoc

[2020-07-28 08:24] jakub-pomykala opened #604 "Release notes for 20.0.0.8"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2020-07-30 13:00] kathrynkodama opened #615 "Blog post on preview release of Open Liberty Tools IntelliJ extension"
The purpose of this blog post is to announce the preview release of the [Open Liberty Tools IntelliJ extension](https://github.com/OpenLiberty/open-liberty-tools-intellij) so that developers may start trying out the extension and provide feedback.

[2020-07-30 16:41] Charlotte-Holt commented on #372
Published at https://openliberty.io/blog/2020/07/16/new-simple-timer-metric.html.

[2020-07-30 16:41] #372 closed

[2020-07-30 22:08] lauracowen commented on #529
https://openliberty.io/blog/2020/07/07/jakartaee9-data-source-transactions-20008-beta.html

[2020-07-30 22:08] #529 closed, assigned to lauracowen

[2020-07-30 22:09] lauracowen opened #623 "20.0.0.9 beta blog post"

[2020-08-03 13:35] Yas-Franco opened #624 "Blog post for Open Liberty intro"
A blog to introduce application servers at a high level. There is no specific date for the post's availability but my last day of work is the 14th of August.

[2020-08-03 22:52] aguibert opened #626 "Pre-warming DB connections using CDI and MP Health"
Connection pools for other runtimes have built-in settings where connection pools can be automatically pre-warmed (meaning that N connections are obtained from the DB immediately on application startup).

Customers have asked for this capability on, Open Liberty, but instead of adding this as an OpenLiberty setting, it can be accomplished with a minimal amount of application code. The purpose of t

[2020-08-04 09:15] lauracowen commented on #626
Sounds good. If you're happy to write a draft, see https://github.com/openliberty/blogs#Authors-creating-a-new-blog-post for the new github workflow. Thx

[2020-08-05 13:17] lauracowen opened #635 "Adapt Ant's MQ JMS with OL blog post for OpenLiberty.io"
Or publish as third-party blog post?

Check when published.

[2020-08-05 20:19] donbourne opened #639 "typo in title of OL 20.0.0.8 blog post"
https://openliberty.io/blog/2020/07/30/json-logging-open-liberty-20008.html

The blog is about HTTP access logs, but the title seems to have reworded that to Access HTTP logs.

current title:
Access HTTP log fields in JSON logs and write JSON directly to system.out without wrapping on Open Liberty 20.0.0.8

If you want to start with a verb, I'd suggest...
Customize HTTP access log fields in JSON l

[2020-08-12 19:26] Charlotte-Holt commented on #572
@lauracowen This is ready for your final review at https://draft-openlibertyio.mybluemix.net/blog/2020/08/19/dev-mode-containers-preview.html.

[2020-08-14 16:30] jakub-pomykala commented on #639
Thank you for spotting this! The change has now been made.

[2020-08-14 18:26] #519 closed, assigned to lauracowen, tomjenningss

[2020-08-14 18:27] lauracowen commented on #519
https://openliberty.io/blog/2020/07/02/disable-default-cookies-20007.html

[2020-08-14 18:27] lauracowen commented on #604
https://openliberty.io/blog/2020/07/30/json-logging-open-liberty-20008.html

[2020-08-14 18:27] #604 closed, assigned to lauracowen

[2020-08-14 18:29] lauracowen commented on #623
https://openliberty.io/blog/2020/08/05/jakarta-grpc-beta-20009.html

[2020-08-14 18:29] #623 closed, assigned to nobody

[2020-08-14 18:29] lauracowen commented on #639
https://openliberty.io/blog/2020/07/30/json-logging-open-liberty-20008.html

[2020-08-14 18:29] #639 closed, assigned to nobody

[2020-08-17 01:59] halim-lee opened #651 "Blog post for Log Forwarding API in RHOCP"
Writing a blog to introduce Log Forwarding API for Open Liberty in RHOCP.
This blog will explain what the API provides and how to configure the API for external logging solutions.

[2020-08-18 08:56] jakub-pomykala opened #655 "Microsoft Azure post"
Third party post about Securing Open Liberty applications with Azure Active Directory via OpenID Connect.

[Original blog here](https://cloudblogs.microsoft.com/opensource/2020/08/10/securing-open-liberty-applications-azure-active-directory-openid-connect/ )

[2020-08-20 07:53] jakub-pomykala commented on #604
https://developers.redhat.com/blog/2020/08/20/json-logging-updates-in-open-liberty-20-0-0-8/

[2020-08-20 07:59] jakub-pomykala commented on #655
Blog published to [OL](https://openliberty.io/blog/) on 19/08/2020 with the title "Securing Open Liberty applications with Azure Active Directory using OpenID Connect"

[2020-08-20 07:59] #655 closed, assigned to nobody

[2020-08-25 17:59] lauracowen commented on #615
(comment I posted in slack chat)
The video is displaying too small to see the details https://draft-openlibertyio.mybluemix.net/blog/2020/08/12/open-liberty-tools-intellij.html and when I go full screen the resolution is poor.

On youtube itself, the resolution still isn’t great (I think?): https://www.youtube.com/watch?v=4qjHNYE7pSo so when I go to embed the video again at a higher resolution it

[2020-08-26 00:52] Charlotte-Holt commented on #572
Published at https://openliberty.io/blog/2020/08/25/dev-mode-containers-preview.html.

[2020-08-26 00:52] #572 closed, assigned to ericglau

[2020-08-27 12:40] lauracowen opened #683 "Re-host the OL on MS Azure blog post"
To be published asap.

On the blog, we have a third-party blog post pointing to an OL on Azure blog post. We need to replace that with a fully hosted copy of the post.

1. Create a new draft post with the content of the post that's currently linked.
2. Review/edit the post (but don't spend ages on it as it's already been reviewed a few times and published twice elsewhere).
3. Add a note in italics

[2020-09-01 15:15] jakub-pomykala commented on #579
https://openliberty.io/blog/2020/08/28/graphql-apis-open-liberty-20009.html

[2020-09-02 12:35] lauracowen opened #697 "Update blog post templates"
-[x] Add attributes at top of _all_ types of blog post (not just releases) the provide example syntax for images.
-[x] Change `/about/` attribute value to `/` so we're not redirecting.
-[x] Add Michal's open graph image line to front matter of all post types: https://github.com/OpenLiberty/blogs/pull/680#pullrequestreview-476814887 and https://ibm-cloud.slack.com/archives/C0146DEBAKS/p159984861601

[2020-09-02 12:41] lauracowen opened #698 "Update process instructions"
- [x] create issue templates for the other two types of post to make it clearer.
- [x] update instructions about tags in staging branch.
- [x] Also: https://ibm-cloud.slack.com/archives/C4U7TQUSY/p1595600917481600
- [x] Also: https://ibm-cloud.slack.com/archives/G017X9RQM2N/p1596017521001300
- [x] Also, inc significant bug fixes in each GA release blog post. (Jakub did in separate template update.

[2020-09-02 17:33] jakub-pomykala opened #713 "Release notes for 20.0.0.10-beta"

[2020-09-02 23:40] #713 closed, assigned to nobody

[2020-09-03 17:34] lauracowen commented on #615
https://openliberty.io/blog/2020/09/03/open-liberty-tools-intellij.html

[2020-09-03 17:34] #615 closed, assigned to kathrynkodama

[2020-09-04 15:57] jakub-pomykala commented on #683
https://openliberty.io/blog/2020/09/04/securing-open-liberty-azure.html

[2020-09-04 15:57] #683 closed, assigned to jakub-pomykala

[2020-09-07 15:17] gcharters opened #727 "AAD blog post Java code needs to show use of jwtPrincipal"
See the deleteCoffee operation in the Java code - https://dzone.com/articles/securing-open-liberty-applications-with-azure-acti

[2020-09-09 15:37] lauracowen commented on #626
https://openliberty.io/blog/2020/09/09/pre-populating-db-connections.html

[2020-09-09 15:37] #626 closed, assigned to aguibert

[2020-09-09 18:03] lauracowen opened #741 "The reactive guides and reaching 50 guides"

[2020-09-10 16:22] lauracowen commented on #741
https://draft-openlibertyio.mybluemix.net/blog/2020/09/23/reactive-developer-guides.html

[2020-09-10 19:10] mbroz2 commented on #741
Feedback for existing content
1. Instead of the title being focused on one particular guide, personally I'd prefer a title that's focus on the guides overall, either 'achievement focused' like "openliberty.io Milestone: now hosting over 50 guides!" or "For our 3rd Birthday, we got more guides!" (don't use that one :D )  or a bit more 'end-user focused' like "With over 50 guides, a new skill is rig

[2020-09-21 08:54] jakub-pomykala commented on #579
Still awaiting Red Hat.

[2020-09-21 08:55] jakub-pomykala opened #754 "Release notes for 20.0.0.10"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2020-09-23 18:57] steven1046 opened #773 "Changes to imagesdir"
We specify `imagesdir: /` in one of the templates, and then use image: img/blog/... when specifying an image. We should either remove the imagesdir property and use slash in the image path, e.g. /img/blog... or keep imagesdir but change it to /img/blog/ so that the images won't have to specify /img/blog/ in their path. Also, this property only exists in one template out of the four so we probably

[2020-09-23 20:34] kathrynkodama opened #774 "Blog post for developing Open Liberty applications with MicroProfile Language Server"
Create a blog post detailing how to develop Open Liberty MicroProfile applications with the new `0.1.0` release of
[Eclipse MicroProfile Language Server](https://github.com/eclipse/lsp4mp) and [MicroProfile Tools for VS Code](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-microprofile) along with existing Open Liberty and MicroProfile VS Code extensions.

[2020-09-24 08:06] lauracowen commented on #773
I think we can set it to anything as long as what’s in the image path can be prefixed by RH in their Red Hat Runtimes builds of the release notes (from our GA release blog post). We can't use `/img/blog` in the image path because that was the problem in the first place - RH couldn't prefix it with whatever it was they use.

Can we set the attribute globally to /img/blog/ so that we can just use th

[2020-09-24 12:39] #493 closed, assigned to fwji

[2020-09-24 12:39] lauracowen commented on #493
https://openliberty.io/blog/2020/09/16/opentracing-jaeger-openshift.html

[2020-09-24 12:40] #256 closed

[2020-09-24 12:40] lauracowen commented on #256
Got too old.

[2020-09-24 12:42] jakub-pomykala opened #779 "Release notes for 20.0.0.11-beta"

[2020-09-29 10:25] jakub-pomykala commented on #579
https://developers.redhat.com/blog/2020/09/29/quicker-easier-graphql-queries-with-open-liberty-20-0-0-9/

[2020-09-29 10:25] #579 closed, assigned to lauracowen, jakub-pomykala

[2020-09-29 10:26] jakub-pomykala commented on #754
https://openliberty.io/blog/2020/09/25/signed-certificate-with-acme-200010.html

[2020-09-29 16:46] scottkurz opened #791 "Migrate WDT Batch tooling article"
Suggest we migrate:  https://developer.ibm.com/wasdev/docs/creating-simple-java-batch-application-using-websphere-developer-tools/  since we don't have this level of detail in the KCtr or anywhere else to my knowledge (except buried in a much bigger redbook maybe).

We might want to review the installation details in case any of this is outdated.  I'd be happy to sign up as a reviewer (or even the

[2020-10-06 15:37] jakub-pomykala commented on #779
https://openliberty.io/blog/2020/09/29/microprofile-openapi-beta-200011.html

[2020-10-06 15:37] #779 closed, assigned to nobody

[2020-10-06 17:28] lauracowen commented on #741
https://openliberty.io/blog/2020/09/24/reactive-developer-guides.html

[2020-10-06 17:28] #741 closed, assigned to lauracowen

[2020-10-06 17:29] lauracowen opened #794 "Operational costs performance blog post"

[2020-10-06 17:52] lauracowen commented on #794
@gcharters Will prioritise when we have a draft ready for review.

[2020-10-07 08:11] jakub-pomykala commented on #754
https://developers.redhat.com/blog/2020/10/07/install-a-signed-certificate-with-open-liberty-20-0-0-10s-automatic-certificate-management-environment-support-2-0/

[2020-10-07 08:11] #754 closed, assigned to lauracowen

[2020-10-19 17:44] #774 closed, assigned to nobody

[2020-10-21 13:37] lauracowen commented on #794
https://openliberty.io/blog/2020/10/21/memory-footprint-throughput.html

[2020-10-21 13:37] #794 closed, assigned to gcharters

[2020-10-26 15:22] Channyboy opened #848 "Blog post for using the Log Forwarding API on OCP"
Blog post that details how to configure your OCP cluster to forward Open Liberty logs to an external Splunk instance using the Log Foward API.

[2020-11-02 14:36] austin0 opened #850 "Release notes for 20.0.0.11"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features)
- [Red Hat Runtimes release notes for Open LIberty](https://access.redhat.com/documentation/en-us/open_liberty/2020/) (GA features only;

[2020-11-02 14:38] austin0 commented on #850
https://openliberty.io/blog/2020/10/23/kerberos-grafana-200011.html

https://developers.redhat.com/blog/2020/10/30/open-liberty-20-0-0-11-brings-kerberos-authentication-and-thanos-support-in-grafana-dashboards/

[2020-11-02 14:38] #850 closed, assigned to lauracowen

[2020-11-02 14:39] austin0 opened #851 "Release notes for 20.0.0.12-beta"

[2020-11-02 14:39] austin0 commented on #851
https://openliberty.io/blog/2020/10/27/microprofile40-jakartaee9-beta-200012.html

[2020-11-02 14:40] #851 closed, assigned to nobody

[2020-11-06 19:00] ericglau opened #857 "Blog post for Liberty Maven/Gradle plugins with dev mode for containers"
Blog post to announce new release versions of the Liberty Maven and Gradle plugins, highlighting [dev mode with container support](https://github.com/OpenLiberty/ci.maven/issues/659) (and referencing the previous [tech preview post](https://openliberty.io/blog/2020/08/25/dev-mode-containers-preview.html)). 
Also describe [copyDependencies](https://github.com/OpenLiberty/ci.maven/issues/705) and ot

[2020-11-09 14:40] Yushan-Lin opened #858 "Blog about custom JSON access log fields"
Blog about how to customize your JSON access logs in Liberty: https://github.ibm.com/was-liberty/WS-CD-Open/issues/21699

Needs editing while Yushan is available so she can answer questions (before 15th Dec).

[2020-11-10 14:55] Charlotte-Holt commented on #309
Draft available at https://draft-openlibertyio.mybluemix.net/blog/2020/11/11/byo-jackson.html

[2020-11-10 15:02] andymc12 commented on #309
That draft looks good - thanks for the additional update Charlotte!

[2020-11-11 14:00] Charlotte-Holt commented on #309
Published at https://openliberty.io/blog/2020/11/11/byo-jackson.html

[2020-11-11 14:00] #309 closed

[2020-11-13 20:57] scottkurz opened #868 "Blog post for getting started with java-openliberty odo/devfile stack"
1. Take simple intro app, clone, create java-openliberty component, push
 * make iterative change,

2. Take existing guide app, create java-openliberty component, push
* ?maybe make change

Question:
 * deploy just to OCP or minikube/generic k8s?
---
References
* odo.dev,
* application-stack/wiki

* CP4A 4.3 Kctr????  (Or keep this scoped to odo)

[2020-11-17 16:50] cherylking commented on #857
Here is a paragraph for the blog related to copyDependencies functionality. Not sure if the format is correct (e.g. the link to the common server parameters).

In addition to including many fixes, this release of the Liberty Maven plugin provides support for copying dependencies during server creation with the `copyDependencies` parameter. If a dependency is not listed in the Maven `dependencies`

[2020-11-18 09:44] jakub-pomykala opened #879 "Release notes for 20.0.0.12"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2020-11-18 09:45] jakub-pomykala opened #880 "Release Notes for 21.0.0.1-beta"

[2020-11-24 10:19] lauracowen opened #904 "Blog post about switching to open source Antora project for our docs"
we should consider doing a short blog post regarding switching to Antora for our docs, the benefits to our users, collaboration with the community, etc

Benefits to our users:
- Can define a meaningful/useful/usable navigation (we went with something reflecting the guides categorisation, which was based on user research and validation last year).
- Can retain multiple versions of docs now.
- what

[2020-11-24 10:23] jakub-pomykala commented on #879
Re-opening as RedHat blog post is not yet live.

[2020-11-24 10:24] jakub-pomykala commented on #879
Blog live [here](https://openliberty.io/blog/2020/11/20/JNDI-gRPC-200012.html) on OpenLiberty.io

[2020-11-24 11:59] lauracowen commented on #624
https://openliberty.io/blog/2020/11/19/app-server-intro.html

Thank you, Charlotte!

[2020-11-24 11:59] #624 closed, assigned to Yas-Franco

[2020-11-24 14:18] #880 closed, assigned to nobody

[2020-11-24 20:43] yeekangc commented on #868
Perhaps we can consider a video (as a demo) along with this too (that can be linked to in the blog post).

[2020-11-24 20:50] scottkurz commented on #868
First pass at:  https://github.com/OpenLiberty/blogs/blob/ol-stack/posts/2020-11-30-open-liberty-devfile-stack.adoc

[2020-11-25 09:51] #698 closed, assigned to lauracowen

[2020-11-25 09:51] lauracowen commented on #697
All done by Jakub and Austin.

[2020-11-25 09:51] #697 closed, assigned to lauracowen

[2020-11-25 14:24] kokwai opened #912 "Incorrect variable names in screenshot for Kubernetes secrets"
In this blog [post](https://openliberty.io/blog/2020/11/24/microprofile-rest-client-kubernetes-secrets-21001beta.html), it mentions how to access secrets via liberty variable. However, the screenshot and the wordings might contain a typo. Screenshot of definition shows account-database and wordings in the article mention `account_db`

![image](https://user-images.githubusercontent.com/532945/10023

[2020-11-25 14:33] mbroz2 commented on #912
@brenthdaniel @Emily-Jiang @arthurdm please take a look
https://github.com/OpenLiberty/blogs/blob/prod/posts/2020-11-24-microprofile-rest-client-kubernetes-secrets-21001beta.adoc

[2020-11-26 10:27] Emily-Jiang commented on #912
I took a look at the blog and it indeed contains a few typos. The `account_db` should be `account_database`. @jakub-pomykala please make the correction accordingly.

[2020-11-26 10:39] #912 closed, assigned to nobody

[2020-12-01 11:38] jakub-pomykala commented on #880
Blog live [here](https://openliberty.io/blog/2020/11/24/microprofile-rest-client-kubernetes-secrets-21001beta.html)

[2020-12-02 11:54] jakub-pomykala commented on #879
Blog is now live on RedHat [here](https://developers.redhat.com/blog/2020/12/02/open-liberty-20-0-0-12-brings-support-for-grpc-custom-jndi-names-and-java-se-15/).

[2020-12-02 11:55] #879 closed, assigned to lauracowen

[2020-12-02 19:11] Channyboy commented on #651
Please see: https://github.com/OpenLiberty/blogs/pull/849 and the new issue at : https://github.com/OpenLiberty/blogs/issues/848

[2020-12-04 23:51] dshimo opened #924 "Blog promoting Open Liberty Backend Implementation for RealWorld"
Blog promoting an Open Liberty backend implementation for RealWorld's Conduit Application
Uses MicroProfile and references OL guides

RealWorld: https://github.com/gothinkster/realworld
OL Repo: https://github.com/OpenLiberty/openliberty-realworld-example-app

[2020-12-07 12:16] yongja79 opened #926 "Blog about Long Running Actions (LRA) in Open Liberty beta"
Create a blog post about Microprofile Long Running Actions (LRA) that is now in the Open Liberty beta driver. Describe the basics on LRA and show an example of a coordinator and participant running on Open Liberty

[2020-12-07 19:02] #651 closed, assigned to nobody

[2020-12-08 11:33] gljrobinson commented on #848
Issue #651 is a duplicate, this is the one we should be using.
@dmuelle

[2020-12-08 11:33] gljrobinson commented on #848
@dmuelle could you move this into the editing collumn and could you assign yourself to this please. thanks

[2020-12-08 11:38] gljrobinson commented on #857
@yeekangc can you please confirm when you have completed your technical review and you believe it is in a stage where we can begin the editing process to publish. Thanks

[2020-12-09 01:32] dmuelle commented on #848
Hi @Channyboy, I did an initial pass of ID edits for style and clarity in this PR: https://github.com/OpenLiberty/blogs/pull/928, for which I've requested your review

I have some more content review questions that I will post to this issue but first I'd like to review the updated draft once the PR has been merged and the draft rebuilt.

If anything in the PR doesn't make sense or needs more work,

[2020-12-09 11:08] gljrobinson commented on #114
@yeekangc @aguibert Is this still a blog we want to create? I know we have this blog (https://openliberty.io/blog/2019/03/27/integration-testing-with-testcontainers.html) on testcontainers on the blog site, but I think it would be nice to have one specifically about microshed testing.
Is this being worked on at all?

[2020-12-09 11:09] gljrobinson commented on #235
@jamiecoleman92 is this still something you plan/want to do? I see it's been open for most of this year so thought I'd see where it stands with you.

[2020-12-09 11:11] gljrobinson commented on #163
@yeekangc Is this still a piece of work we want done?

[2020-12-09 11:11] gljrobinson commented on #164
@yeekangc Is this still a piece of material we want to create?

[2020-12-09 11:13] gljrobinson commented on #347
Hi @kwsutter, just wanted to check in on progress for this blog idea and see if this was still something you're keen to create?

[2020-12-09 11:14] gljrobinson commented on #792
@jamiecoleman92 not sure if you know much about this? I realize Tom opened the issue but has now left, so hoping you can help me work this one out.

[2020-12-09 11:22] jamiecoleman92 commented on #235
@GraceJansen I had completely forgot about this but I suppose this ties into the WASDev stuff for OL. @lauracowen is this something you would still want as a blog on the OL site or shall we just use it for IBM Developer?

[2020-12-09 11:26] lauracowen commented on #4
Closing this because it's superceded by the branch reorganisation and then by the new automation stuff @mbroz2 is doing on a wider basis than just the blog.

[2020-12-09 11:26] #4 closed

[2020-12-09 11:28] gljrobinson commented on #773
@steven1046 Is this work now complete? Whats the status of this issue?

[2020-12-09 11:33] gljrobinson commented on #727
@jakub-pomykala can this issue now be closed? I noticed the #728 PR was merged three months ago

[2020-12-09 12:59] #727 closed, assigned to nobody

[2020-12-09 13:12] lauracowen commented on #235
@GraceJansen is responsible for the OL blog now. But, to answer your question, this wouldn't be relevant to the OL blog because it's about IBM proprietary products.

[2020-12-09 14:45] steven1046 commented on #773
I'm looking into if we can set the imagesdir for the posts somewhere common without affecting the guides' images.

[2020-12-10 02:03] dmuelle commented on #848
Content review questions:

## Intro

* What is the role of the Fluentd server? I know that it "redirects the forwarded logs to Splunk by using Splunk's HTTP Event Collector (HEC) API", but why is it needed? Is it not possible to for the Log Forwarding API to send the logs directly from OpenShift to Splunk? I feel like a sentence to explain would be helpful as Fluentd config is a big part of the ta

[2020-12-10 14:47] Channyboy commented on #848
Intro:
The Log Forwarding API's _forward_  `type` triggers their code to automatically configure things in the background.  The way it's set up it can only _forward_ the logs to another fluentd server where we can  configure ourselves however we like. (i.e to splunk).
But also. As you pointed out, in 4.6, this `forward` `type` is now called `fluentdForward`.

Configuring the Log fowarding api:
Yes

[2020-12-10 15:02] aguibert commented on #114
We have a guide for microshed testing here: https://openliberty.io/guides/microshed-testing.html which should provide enough information users need to work with it in a basic way. If we want to do another round of socialization of microshed we could do a small blog post though

[2020-12-10 15:41] dmuelle commented on #848
suggestion to simplify step 3:

3. Create the `log-forward-instance.yaml` file. Configure the outputs and pipelines.

- The `outputs` section of the file specifies where to send the logs. To establish a *secure* connection to an output, you must specify a *secret*, such as the one that you created in step 2b. If you want to use an insecure connection for test purposes, you can omit the secret from

[2020-12-10 20:28] Yushan-Lin commented on #858
https://openliberty.io/blog/2020/12/10/custom-access-logs.html

[2020-12-10 20:28] #858 closed, assigned to Yushan-Lin

[2020-12-11 10:04] gljrobinson commented on #114
@yeekangc what's your thoughts on this? I know @jamiecoleman92 is creating a similar article for IBM Developer, so should we close this issue?
We currently have the guide and a testcontainers blogpost on OpenLiberty.io

[2020-12-11 10:06] gljrobinson commented on #235
So from Laura's comment and the work I know we're doing for IBM Developer, I think we should close this issue and instead focus on creating this material on IBM Developer. @jamiecoleman92 are you happy with this decision?

[2020-12-11 10:08] gljrobinson commented on #791
@scottkurz is this the same piece of material as Issue #259?

[2020-12-11 15:04] awisniew90 commented on #868
@GraceJansen  - draft PR has been merged with a technical review.

[2020-12-11 15:23] steven1046 commented on #773
Writing some notes down:
We can specify imagesdir in the jekyll config:
[code]

This will allow blogs to not have to specify the imagesdir property. Guides can still override their own imagesdir in the guide .adoc files.

I tried to specify the imagesdir per layout type, but per Dan Allen, we cannot define imagesdir per scope/layout. It can only be set globally or in the document.

[2020-12-14 22:22] yeekangc commented on #857
Done.  Please see details in https://github.com/OpenLiberty/blogs/pull/920.

[2020-12-15 10:25] gljrobinson commented on #904
@yeekangc any suggestions on someone who could write this up?

[2020-12-15 10:26] gljrobinson commented on #926
@Charlotte-Holt and @dmuelle ready for editing whenever you get the chance.

[2020-12-15 10:26] gljrobinson commented on #868
@Charlotte-Holt and @dmuelle ready for editing whenever you get the chance.

[2020-12-15 11:59] scottkurz commented on #791
@GraceJansen  No I don't think so...that was just an overview of the API with some basic use cases outlined.  The article I'm referring to describes the WDT Batch tooling.

[2020-12-15 19:17] yeekangc commented on #114
The blog on Testcontainers doesn't cover MicroShed Testing specifically.  Another round of socialization will be good IMO.

Then, may be we line that up with new release(s) of MST in the new year?

[2020-12-15 19:19] yeekangc commented on #235
+1 to close and proactively closing.  =)

[2020-12-15 19:19] #235 closed

[2020-12-15 19:21] yeekangc commented on #347
Copy @tbitonti in case this is something that Tom and co can help and would like to contribute.

[2020-12-15 19:25] yeekangc commented on #163
This is a nice to have.  If @fwji @pgunapal have time and are still interested to blog about the project, we can take it IMHO.  Otherwise, we can close.

[2020-12-15 19:29] yeekangc commented on #164
Yes.  This is a Should Have IMO.  The game is still online and has been helpful in helping various folks to understand how to build something nice with cloud-native Java technologies.  A blog about it will still be good.

[2020-12-16 09:19] gljrobinson commented on #164
@yeekangc thanks for confirming this is still material we would like on the OpenLibertyIO site. Who should be assigned this work? Do you know if anyone has begun writing this piece of material? If not, can we assign it to someone/some people?

[2020-12-16 09:20] gljrobinson commented on #163
ok great, @fwji and @pgunapal what's your thoughts on this?

[2020-12-16 09:21] gljrobinson commented on #114
@aguibert what's your thoughts on this? Would you be up for creating a blog post around this so that we can publish it alongside the new MST release next year?

[2020-12-16 09:39] gljrobinson commented on #791
ah ok, because that article was never published. The issue for it has been put on the icebox by @lauracowen.
So, is WDT batch tooling something that can be used with Open Liberty without any paid for licenses (including IDE licenses)?
I just wanted to make sure this is appropriate for openlibertyio as opposed to IBM Developer.

[2020-12-16 10:01] lauracowen commented on #791
WDT - no, but if the article can be re-created with Open Liberty Tools ([Eclipse Developer Tools](https://openliberty.io/downloads/#eclipse_developer_tools)), it should be applicable, I think?

I iceboxed David Follis's batch article because it seemed heavily dependent on z/OS support for Open Liberty (which hasn't been open sourced) so it didn't make sense. Java Batch is part of the Jakarta EE sp

[2020-12-16 10:28] jamiecoleman92 commented on #792
After having discussed this article with our current offering manager and interested parties this looks like a better candidate for IBM Developer. I will close this issue and create a new one for our backlog and add it to our list of content for IBM Developer.

[2020-12-16 10:28] #792 closed

[2020-12-16 15:04] fwji commented on #163
I totally forgot about this issue. We'll have a chat (me and Prashanth) and see if we can have it done next month. Personally, I might use the holiday off to start writing some part.

[2020-12-16 19:47] yeekangc commented on #791
I'd say we should see what (still) makes sense and is relevant in terms of Jakarta Batch and consider accordingly.

Right, this should use and cover what is in Open Liberty Tools (instead of WDT) or what will or may be available for Jakarta EE.

[2020-12-16 19:49] yeekangc commented on #164
^^^ @realModusOperandi @olendvcook @aguibert @ryanesch, any thoughts?

[2020-12-18 00:44] scottkurz commented on #791
I'm confused...

At first I thought @lauracowen and @yeekangc were saying that only Open Liberty Tools function was strategic (or suitable for the type of content we want here in **OpenLiberty/blogs**).

I was going to point out that the WDT Java Batch function works fine with the Open Liberty runtime, and that you could install them like in this doc: https://www.ibm.com/support/knowledgecenter/SS

[2020-12-18 10:16] gljrobinson commented on #791
Hi @scottkurz, yes @lauracowen and @gcharters and I looked into this when we were investigating this article. The documentation isn't clear at the moment and so this is on @gcharters list of actions to take in 1Q.
So we're going to put this article on hold for the time being until this has been sorted.

[2020-12-18 18:50] yeekangc commented on #791
Right, the questions around the Tools are separate from this issue.  In my mind, this issue will track what we may want to blog about for Jakarta Batch and what is there for it in Open Liberty Tools.

+1 that this is lower priority nonetheless.

[2021-01-04 20:57] scottkurz commented on #791
@yeekangc  - I'm confused.   We can't walk you through anything without instructing how to install the Eclipse plugin function (whether it's WDT , OLT, whatever), so that's a prereq.

Once we know what the story is there, then something like the original **"Creating a simple Java batch application using WebSphere Developer Tools"** article's content would be like the 80/20.. a good starting point,

[2021-01-11 14:54] gljrobinson commented on #114
@yeekangc, now that Andy has left IBM, could we assign someone else to this article? I know @jamiecoleman92 has been looking at this kind of content for the IBM Developer site.
Any ideas?

[2021-01-11 15:20] dmuelle commented on #926
Starting on ID review for target publish date of 1/27

[2021-01-12 13:39] gcharters commented on #791
I think we need to fix the Open Liberty Tools installation instructions - https://github.com/OpenLiberty/open-liberty-tools/issues/410.  And then we can publish the batch article based on the Open Liberty Tools.

We don't have anyone to fix 410 in the near future so we need a volunteer :(

[2021-01-12 14:50] yeekangc commented on #791
+1 to Graham's comments.

[2021-01-12 14:56] gljrobinson opened #970 "External redirect - Testing Jakarta EE 9 Applications with Arquillian and Open Liberty"
https://itnext.io/testing-jakarta-ee-9-applications-with-arquillian-and-open-liberty-5ada186a0485

[2021-01-12 15:03] gljrobinson opened #973 "External Redirect - Deploying Jakarta EE 9 applications to Open Liberty"
https://itnext.io/deploying-jakarta-ee-9-applications-to-open-liberty-dac4529f48c6

[2021-01-12 15:15] gljrobinson opened #976 "External Redirect - OpenLiberty – Performance"
https://ralph.blog.imixs.com/2020/03/29/openliberty-performance/

[2021-01-12 15:17] gljrobinson opened #977 "External Redirect - Deploy IBM OpenLiberty apps onto Kubernetes using Eclipse JKube"
https://rohaan.medium.com/deploy-ibm-openliberty-apps-onto-kubernetes-using-eclipse-jkube-610690f08473

[2021-01-14 19:28] Charlotte-Holt commented on #868
ID review updates incorporated at https://blogs-draft-openlibertyio.mybluemix.net/blog/2021/01/20/open-liberty-devfile-stack.html.

[2021-01-14 19:35] awisniew90 commented on #868
@Charlotte-Holt - LGTM!

[2021-01-15 18:37] dmuelle commented on #926
Hi @yongja79, I'm starting on the ID review and will open a PR to address any specific clarity/style/grammar concerns. From an overall content perspective, I'm wondering if it's possible to add an example scenario for LRA to the intro. Just a simple concrete application scenario so the user can get a sense of why they should care about LRA or in what circumstances they might need this information.

[2021-01-18 14:57] austin0 opened #1004 "Open Liberty GA release blog post for 21.0.0.1"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-01-18 14:58] austin0 opened #1005 "Release notes for 21.0.0.2-beta"

[2021-01-19 13:13] yongja79 commented on #926
@dmuelle , for the intro would something like:

"In the 20.0.0.12-beta release of Open Liberty a new capability was introduced to support loosely-coupled transaction semantics for Java microservice. This is an implementation of a new MicroProfile specification for Long Running Actions (MicroProfile LRA), which can be used to alleviate the challenges that traditional transaction models have in micr

[2021-01-19 14:19] dmuelle commented on #926
@yongja79 - i think that sounds good. I would suggest adding the example scenario as the second paragraph in the "What is Microprofile LRA?" section. If you want to keep the section title as focused on the MP specification, probably better to introduce it, as you have it now, then add the example scenario.

After reading some of the spec, I agree that it makes sense to focus on MicroProfile LRA in

[2021-01-21 17:35] Charlotte-Holt commented on #868
This published at https://openliberty.io/blog/2021/01/20/open-liberty-devfile-stack.html

[2021-01-21 17:35] #868 closed, assigned to awisniew90, Charlotte-Holt

[2021-01-23 23:28] scottkurz commented on #791
Overall I'm still confused about the purpose of Open Liberty Tools vs Liberty Developer Tools and some of the direction suggested in:  https://github.com/OpenLiberty/open-liberty-tools/issues/410.

But I can at least now list a few ways to install the Batch tooling:

## 1. Eclipse 4.7 (Oxygen)

1. Install Eclipse IDE for Enterprise Java Developers (v4.7)
1. Install the latest [Open Liberty Tools](

[2021-01-25 10:57] austin0 commented on #1004
21.0.0.1 GA Blog is live: https://openliberty.io/blog/2021/01/22/jwtbuilder-redirects-21001.html

[2021-01-25 10:57] #1004 closed, assigned to austin0

[2021-01-27 10:45] austin0 commented on #1005
Blog has been published. https://openliberty.io/blog/2021/01/26/ee9-messaging-security-21002-beta.html

[2021-01-27 10:45] #1005 closed, assigned to nobody

[2021-01-29 09:34] gljrobinson commented on #635
@yeekangc do you know what blog this is referring to?

[2021-01-29 09:41] gljrobinson commented on #163
Hi @fwji and @pgunapal, just thought I'd check up on this blog and see how progress on it was going?

[2021-01-29 21:25] yeekangc commented on #635
I believe this is an old blog post that we want to look at and see if we should republish on openliberty.io.

[2021-02-02 15:13] gljrobinson commented on #635
After investigation, it seems that Ant left IBM over two years ago and others on his team were unaware of a blog to which this issue could have referred to.
Due to all of this, YK and I have agreed to close this issue.

[2021-02-02 15:13] #635 closed, assigned to nobody

[2021-02-04 04:45] fwji commented on #163
@GraceJansen Sorry, we are a bit caught up with 1Q deliveries at the moment. We will probably be a bit slow on this one.

[2021-02-05 18:45] dmuelle commented on #924
## ID Review

Hi @dshimo , nice work! The post gives a concise walkthrough that incorporates a variety of Open Liberty respources in a straightforward manner. I'll open a PR to draft for some minor ID edits and send it for your review.

A few thoughts at a more conceptual level- bear with me, this post is my introduction to RealWorld :).

The intro to the post is really strong- it tells the reader

[2021-02-09 16:39] dmuelle commented on #924
tentative publish date of 2/24

[2021-02-10 16:29] Channyboy commented on #651
@melissa-lee Published: https://openliberty.io/blog/2021/02/10/ocp-log-forwarding.html

[2021-02-15 03:49] tbitonti opened #1075 "Blog post for describing using the Eclipse Transformer to create Jakarta EE 9 artifacts"
The article describes using the Eclipse-Transformer to quickly create Jakarta EE 9 artifacts starting with Java EE artifacts.  For example, Java EE application archives, java test code as either source or binaries, and server configuration files may be transformed.

Open-Liberty, as well as several other server and tool vendors are currently using the transformer within their build processes.

Dev

[2021-02-15 09:45] gljrobinson commented on #347
@tbitonti has written a draft of this article.
https://github.com/tbitonti/blogs/blob/1075-eclipse-transformer/posts/2021-02-15-eclipse-transformer.adoc
https://github.com/OpenLiberty/blogs/pull/1077
https://github.com/OpenLiberty/blogs/issues/1075

[2021-02-15 09:47] gljrobinson commented on #1075
This is a duplicate issue of Issue #347

[2021-02-15 09:47] gljrobinson commented on #926
@dmuelle can we close this now that it has been published?

[2021-02-15 09:49] gljrobinson commented on #857
Hi @Charlotte-Holt, how's the progress on this blog?

[2021-02-15 09:50] gljrobinson commented on #924
Hi @dmuelle, I've moved this to Editing in Progress as I see you've already started editing and have sent some comments to the author. Thanks.

[2021-02-15 09:51] gljrobinson commented on #848
@dmuelle can this be closed? I see it's already been published on the OL site

[2021-02-15 14:33] dmuelle commented on #848
I'm not aware of any reason to keep it open- would you agree @Channyboy ?

[2021-02-15 14:38] #848 closed, assigned to dmuelle

[2021-02-15 14:38] #926 closed, assigned to dmuelle

[2021-02-15 18:02] dmuelle commented on #904
@GraceJansen I'd like to write this one if there's still an interest in it. Might be a moment before I have time to work on it but we can figure out a publish date sometime in the next month or so if that works

[2021-02-15 19:23] Charlotte-Holt opened #1078 "Blog post for running OL in FIPS-enabled cluster"
Monica wrote up instructions for running OL in a FIPS-enabled cluster in https://github.com/OpenLiberty/docs/issues/3416. We're going to publish these instructions as a blog post for customers, and these instructions will be refined and published in the OL docs (currently targeted for 21.0.0.3). The docs topic will be less focused on OpenShift-related information.

[2021-02-16 21:43] Charlotte-Holt commented on #1078
Draft of post: https://draft-openlibertyio.mybluemix.net/blog/2021/02/17/running-ol-fips-cluster.html

Comments feedback from @NottyCode: This is not a blog post. A blog post is not just a bulleted list. Blog posts tell a story, they have a beginning, middle and end and this is just a middle, and not a very engaging one.

Some feedback on the bullets:

1. Step 3 talks about enabling JSSE trace whi

[2021-02-17 09:12] jakub-pomykala opened #1091 "Open Liberty GA release blog post for 21.0.0.2"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-02-17 09:13] jakub-pomykala opened #1092 "Open Liberty release blog post for 21.0.0.3-beta"

[2021-02-17 17:07] Charlotte-Holt commented on #857
@GraceJansen This is ready to publish tomorrow. Link to the draft: https://draft-openlibertyio.mybluemix.net/blog/2021/02/18/dev-mode-container-liberty-maven-gradle-plugins.html

[2021-02-17 19:28] Charlotte-Holt commented on #857
Merged to `prod` in https://github.com/OpenLiberty/blogs/pull/1101.

[2021-02-18 18:00] Charlotte-Holt commented on #857
Blog is live at https://openliberty.io/blog/2021/02/18/dev-mode-container-liberty-maven-gradle-plugins.html

[2021-02-18 18:00] #857 closed, assigned to Charlotte-Holt

[2021-02-18 22:19] andymc12 opened #1108 "Blog Post for MicroProfile Rest Client 2.0"
MP Rest Client 2.0 (`mpRestClient-2.0`) is expected to be GA in Open Liberty 21.0.0.3. In addition to the blurb on the GA post, I'd like to create a separate blog post that includes a little more in-depth info about the feature and how a user could take advantage of it. It should include:
* links to the MP Rest Client 2.0 release page
* info on how to automatically follow redirect responses
* how

[2021-02-22 09:09] jakub-pomykala commented on #1091
Blog live [here](https://openliberty.io/blog/2021/02/19/configure-trustedHeaderOrigin-21002.html)

[2021-02-22 09:09] #1091 closed, assigned to austin0, jakub-pomykala

[2021-02-22 09:10] jakub-pomykala commented on #1092
Beta Blog live [here](https://openliberty.io/blog/2021/02/19/mpcontextpropagation-requesttiming-21003-beta.html)

[2021-02-22 09:10] #1092 closed, assigned to nobody

[2021-02-22 15:34] gljrobinson commented on #1108
The video associated with this will hopefully be published on the IBM Developer YouTube account. There is an issue for this here: https://github.ibm.com/IBMCode/IBMCodeContent/issues/5747#event-141471983

[2021-02-22 21:01] Charlotte-Holt commented on #1078
Latest draft updated at https://blogs-draft-openlibertyio.mybluemix.net/blog/2021/02/24/running-ol-fips-cluster.html

[2021-02-23 09:31] jakub-pomykala commented on #1108
Video has now been published on [IBM Video](https://video.ibm.com/recorded/129457969)

Bello I am adding the code for the full embed code:
[code]

[2021-02-23 22:21] yeekangc opened #1132 "Review release blog post for 21.0.0.2"
@dmuelle, can you take a look at https://openliberty.io/blog/2021/02/19/configure-trustedHeaderOrigin-21002.html?

 I feel we can improve the title and the core description.

Cc @jakub-pomykala @austin0 @GraceJansen

[2021-02-23 22:21] yeekangc commented on #1132
If time permits, appreciate your feedback on https://openliberty.io/blog/2021/02/19/mpcontextpropagation-requesttiming-21003-beta.html too.

[2021-02-24 15:32] Emily-Jiang opened #1134 "Open Liberty GA release blog post for 21.0.0.3 MicroProfile 4.0"
## 1. Open Liberty release blog post for MicroProfile 4.0

The Open Liberty release blog post is written in asciidoc and pushed to the [OpenLiberty/blogs](https://github.com/openliberty/blogs) repo. The repo README contains [instructions on how to create, build, and review](https://github.com/OpenLiberty/blogs/blob/prod/README.md) the post, including a template file to help you.

Follow the instru

[2021-02-24 15:52] yeekangc opened #1135 "External redirects or summary post for SUNY Oswego's work with Open Liberty"
https://www.linkedin.com/pulse/collaboration-excitement-between-suny-oswego-ibm-danielle-larosa by SUNY Oswego students

https://www.linkedin.com/pulse/ibm-suny-oswego-partner-students-paul-austin by Open Libery team

A fun and nice story to share with the community.

@GraceJansen @dmuelle

[2021-02-24 16:49] Joseph-Cass opened #1136 "Blog Post for MicroProfile Config 2.0"
Similar to MP RestClient (https://github.com/OpenLiberty/blogs/issues/1108) MicroProfile Config 2.0 could do with having a standalone blog post.

The core content should be pretty similar to what can be found here:
https://github.com/OpenLiberty/open-liberty/issues/15611#issuecomment-781329818

[2021-02-25 15:58] gljrobinson commented on #1135
I have created a draft of this which can be accessed here: https://ibm.box.com/s/e6zsqhk7jo95ye6oy0b8znf6vl16vn0o
I have run this by Paul Austin and he is happy with the content and flow.
@dmuelle would you or one of the team be able to take a quick look through this please just to check it over?

[2021-02-25 17:42] dmuelle commented on #1135
Hi @GraceJansen I think this looks great. I have some very minor edit suggestions. If you like, I can port the draft to .adoc and open a PR to draft that includes a few edits. Or if you add me to the box note I can make comments there, whichever you prefer

[2021-02-26 13:56] gljrobinson commented on #1135
Hi @dmuelle, a PR sounds great. Thanks for the help with this!

[2021-02-26 19:44] Charlotte-Holt commented on #1078
Published at https://openliberty.io/blog/2021/02/26/running-ol-fips-cluster.html

[2021-02-26 19:44] #1078 closed, assigned to Charlotte-Holt

[2021-03-02 18:22] jhanders34 opened #1166 "Blog post for Jakarta EE 9.0 compatibility"
Create a blog post that communicates that Open Liberty is Jakarte EE 9.0 compatible.

The blog post should have the tag Jakarta EE

[2021-03-03 10:42] Emily-Jiang opened #1168 "MP JWT 1.2 for 21.0.0.3"
Blog post for MP JWT 1.2 @teddyjtorres please provide details

The MP JWT 1.2 blog post will outline the new MP Config properties that were added to the spec, support for JSON Web Encryption (JWE) tokens, and enhanced algorithm support. The blog will include usage examples for the new functionality as well.

MP 4.0 blog posts are expected to be done by **March 12**.

The Open Liberty release notes

[2021-03-03 13:17] Emily-Jiang commented on #1134
[MicroProfile 4.0](https://github.com/eclipse/microprofile/releases/tag/4.0.1) is available in Open Liberty 21.0.0.3. MicroProfile 4.0 includes the following MicroProfile Specification updates.

    [MicroProfile Config 2.0](https://github.com/eclipse/microprofile-config/releases/tag/2.0)

    [MicroProfile Fault Tolerance 3.0](https://github.com/eclipse/microprofile-fault-tolerance/releases/tag/3

[2021-03-05 08:11] Joseph-Cass commented on #1136
Blog draft site: https://blogs-draft-openlibertyio.mybluemix.net/blog,/microprofile/2021/03/13/microprofile-config-2.0.html

[2021-03-06 00:04] jhanders34 commented on #1166
Blog has been published.  Closing out the issue.

[2021-03-06 00:04] #1166 closed, assigned to nobody

[2021-03-08 11:09] #924 closed, assigned to dmuelle

[2021-03-15 11:21] #1135 closed, assigned to gljrobinson

[2021-03-15 15:50] awisniew90 opened #1199 "Add blog showing Open Liberty stack with Minikube"

[2021-03-15 17:48] steven1046 opened #1201 "Broken links in blogs"
These links on each page below result in a 404, which we should address.
The ones crossed out have been fixed by #1196 and #1277.

https://openliberty.io/blog/
~https://github.com/jkaub-pomykala~
~https://github.com/awiniew90~
~https://github.com/leemelim~

https://openliberty.io/blog/2020/07/07/jakartaee9-data-source-transactions-20008-beta.html
~https://ci.eclipse.org/jakartaee-tck/job/jakartaee

[2021-03-15 19:05] awisniew90 opened #1202 "Update open-liberty-devfile-stack post to use branch from demo app"
The open liberty devfile stack post should be updated to use a specific branch of the demo application-stack-intro app. This branch does not include a devfile in the app (which may be confusing to users) and demonstrates how the stack's devfile will be downloaded from the default devfile registry automatically.

[2021-03-17 16:07] austin0 opened #1207 "Release notes for 21.0.0.3 GA Release Blog"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))

## 1. Open Liberty release blog post

The Open Libe

[2021-03-18 14:41] austin0 opened #1219 "Release notes for 21.0.0.4-beta"

[2021-03-18 14:51] #347 closed

[2021-03-18 14:51] #1075 closed, assigned to tbitonti

[2021-03-22 10:41] #1134 closed, assigned to austin0, jakub-pomykala

[2021-03-22 10:42] #1207 closed, assigned to austin0, jakub-pomykala

[2021-03-23 13:48] jakub-pomykala commented on #1219
Blog live [here](https://openliberty.io/blog/2021/03/22/ldap-kerberos-21004beta.html)

[2021-03-23 13:49] #1219 closed, assigned to nobody

[2021-03-26 14:53] #1108 closed, assigned to andymc12, jakub-pomykala

[2021-03-26 14:53] gljrobinson commented on #1201
Hey @dmuelle do you know if these have been resolved?

[2021-03-26 14:54] gljrobinson commented on #1132
@yeekangc @dmuelle is this work now complete?

[2021-03-29 22:00] aknguyen7 opened #1366 "GA BLOG - Admin Center feature now available in Open Liberty 21.0.0.4"
The information you provide here will be included in the Open Liberty GA release blog post ([example](https://openliberty.io/blog/2020/08/05/jakarta-grpc-beta-20009.html)), which will be published on [openliberty.io/blog/](https://www.openliberty.io/blog/), and potentially elsewhere, to promote this newly released feature/function of Open Liberty. For this post to be included in the GA issue pleas

[2021-03-30 13:27] #520 closed, assigned to nobody

[2021-03-30 13:32] KyleAure opened #1270 "Open Liberty SSL Database Connections Primer"
# Sample Outline

- Intro: What are SSL database connections and why are they important?
- How do database drivers establish SSL connections?
- Common database primers
  - DB2
  - Postgres
  - Oracle
  - SQLServer
- How to setup other database drivers?

# Release date
TBD

[2021-03-30 13:34] #1132 closed, assigned to nobody

[2021-03-30 13:35] #976 closed, assigned to gljrobinson

[2021-03-30 13:36] gljrobinson commented on #773
Hi @steven1046 is there more we need to do here to resolve this issue?

[2021-03-30 13:37] gljrobinson commented on #114
@jamiecoleman92 building upon the article you created for IBM Developer, could we create a similar article here for MicroShed testing?

[2021-03-30 13:37] GraceJansen commented on #163
Hi @fwji, is there any chance you would have time in this new quarter to create this blog? Would love to have more blogs about fun open source projects on the site

[2021-03-30 13:38] gljrobinson commented on #164
@yeekangc do we still want to proceed with the creation of this blog? If so, who should be assigned to it?

[2021-03-30 13:39] gljrobinson commented on #259
@follis is this still being worked on or can this issue be closed?

[2021-03-30 13:56] realModusOperandi commented on #164
Hey, sorry, I hadn't forgotten about possibly writing one but I had a few things come up. Let me know if you still want me to finish writing it.

[2021-03-30 14:01] follis commented on #259
@GraceJansen I was asked to write a blog post back in 2019 that, to my knowledge, never got used.  That's fine...if somebody wants to use it feel free, or if you want to just drop it, that's fine too.  If somebody was waiting for me to do something else, that's news to me...let me know what you need.

[2021-03-30 14:30] jakub-pomykala commented on #1201
https://openliberty.io/blog/
- https://github.com/awiniew90 = https://github.com/awisniew90
- https://github.com/leemelim = https://github.com/melissa-lee (Guess a GitHub username change must have happened as the same person did another post linking to this (Also looks like this person is not with IBM anymore))

https://openliberty.io/blog/2020/07/07/jakartaee9-data-source-transactions-20008-beta.

[2021-03-30 14:50] gljrobinson commented on #1201
Thanks for this @jakub-pomykala. Yes please, if you're able to please create a PR with the corrected links. Thanks

[2021-03-30 15:01] steven1046 commented on #773
I'm having discussions about it and will update you when ready @GraceJansen.

[2021-03-30 15:10] jakub-pomykala commented on #1201
In regards to the devNexus links @yeekangc has said to leave them as they are or remove them.

[2021-03-31 15:00] Rwalls1 commented on #1168
@teddyjtorres @ayoho

# ID review

## Intro
- Change "The MicroProfile JWT specification allows using a JSON Web Token (JWT)” to “The MicroProfile JWT allows you to use a JSON Web Token (JWT)” to avoid the awkward phrasing and to make it clear what JWT refers to at the beginning of the blog since the abbreviation is used throughout.
- I don’t think the phrase, “This blog is broken into the followi

[2021-03-31 17:23] steven1046 commented on #1201
DevNexus are the only remaining broken links.

[2021-04-01 20:37] steven1046 commented on #773
Closing this issue because we can't change the imagesdir per layout (blog, guide, etc) and it's not worth setting the whole site imagesdir to /img/blog/ if other types of documents have to override it.

[2021-04-01 20:37] #773 closed, assigned to nobody

[2021-04-01 20:42] steven1046 commented on #773
Until 21.0.0.6 we'll keep the imagesdir as `/` and then after 21.0.0.7 we can update the templates to use imagesdir: `/img/blog/`.

[2021-04-08 21:15] aknguyen7 commented on #1366
PR  https://github.com/OpenLiberty/blogs/pull/1315

[2021-04-13 08:39] jakub-pomykala opened #1325 "Open Liberty GA release blog post for 21.0.0.4"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-04-13 08:39] jakub-pomykala opened #1326 "Open Liberty beta release blog post for 21.0.0.5-beta"

[2021-04-15 12:18] #1136 closed, assigned to austin0, Joseph-Cass, jakub-pomykala

[2021-04-15 12:19] #1168 closed, assigned to austin0, teddyjtorres, ayoho, jakub-pomykala

[2021-04-15 12:20] #1199 closed, assigned to nobody

[2021-04-15 12:23] #1201 closed, assigned to jakub-pomykala

[2021-04-15 12:26] gljrobinson commented on #1202
Hi @dmuelle, do you know if this has been completed?

[2021-04-15 12:29] gljrobinson commented on #164
@realModusOperandi it would be great if you have the time now to write it. I still feel that it's a great, fun use of our technology and so would make for an interesting read for our developers. Do you think you'd be able to fit this in?

[2021-04-15 12:54] dmuelle commented on #1202
yes! it's published: https://openliberty.io/blog/2021/04/14/open-liberty-devfile-stack-minikube.html

[2021-04-15 12:54] #1202 closed, assigned to nobody

[2021-04-16 09:15] gljrobinson commented on #1270
Hi @KyleAure thanks for contributing this blog idea and creating this issue for it.
It sounds really interesting. Is the plan to take an Open Liberty specific stance on all of these? Do you have a draft at all available?

[2021-04-16 13:17] joe-chacko opened #1350 "Declarative Services Anti-Patterns"

[2021-04-16 13:51] KyleAure commented on #1270
Hello @GraceJansen ,
Thanks for the follow up.  In general Open Liberty supports the use of SSL Database Connections.  However, since the JDBC spec does not have a standard way to configure / create SSL connections each database has different config elements and methods of enabling the TLS protocol. The purpose of this blog would be to give customers a staring off point (sample configurations) and

[2021-04-16 15:19] #1325 closed, assigned to austin0, jakub-pomykala

[2021-04-16 15:19] #1326 closed, assigned to nobody

[2021-04-16 18:27] dsouzai opened #1356 "Open Liberty development mode startup improvement with AOT"
This post is to bring to light the startup improvement seen in Open Liberty development mode when running with Eclipse OpenJ9 0.26.0 (and newer) thanks to the added AOT support in debug mode.

[2021-04-20 10:29] jakub-pomykala commented on #1325
Blog is now live [here](https://openliberty.io/blog/2021/04/16/mp-context-propagration-21004.html)

[2021-04-20 10:30] jakub-pomykala commented on #1326
Blog is now live [here](https://openliberty.io/blog/2021/04/16/JAXRS-multipart-payloads-21005-beta.html)

[2021-04-21 15:53] aknguyen7 commented on #1366
PR Admin Center blog #1364
PR Admin Center blog tag #1365

[2021-04-22 14:01] #1366 closed, assigned to austin0, dmuelle, jakub-pomykala

[2021-04-30 13:45] gljrobinson commented on #1270
Hi @KyleAure, just wanted to check in and see if there was a draft ready for our editors to take a look at for this blog?

[2021-04-30 13:45] gljrobinson commented on #1350
Hi @joe-chacko, did you have a date in mind for this blog's draft to be completed by?

[2021-04-30 15:34] dmuelle commented on #1356
post is published: https://www.openliberty.io/blog/2021/04/30/dev-mode-with-aot.html

[2021-04-30 15:34] #1356 closed, assigned to nobody

[2021-05-05 13:03] joe-chacko commented on #1350
@GraceJansen: I'm gunning for the 12th of May.

[2021-05-06 17:55] mbroz2 commented on #904
"At that time, the Open Liberty project was on a roughly 16-week release cycle." I would just say 'quarterly release cycle'.

"This faster release cycle resulted in more versions of the documentation to host and maintain" I don't believe we had versioning until we moved to Antora; aka, prior to Antora we had only the latest doc version.  So I think this should be changed to reflect that we had a w

[2021-05-06 18:23] steven1046 commented on #904
I really like the post as well! I think it's possible we could talk about how we can link to both other docs in the navigation as well as non-docs such as guides very easily.

[2021-05-06 18:25] steven1046 commented on #904
Antora also helps us when we move pages around (and the url changes) through page aliases declared at the top of the doc which is something we care about too as users bookmark urls.

[2021-05-06 18:30] mbroz2 commented on #904
This was actually one of the major factors for moving to Antora

[2021-05-10 10:54] austin0 opened #1401 "Open Liberty GA release blog post for 21.0.0.5"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-05-11 08:13] gljrobinson commented on #904
Thanks for writing this blog @dmuelle, it looks great. Is this issue now ready to be closed?

[2021-05-11 11:48] dmuelle commented on #904
yes!

[2021-05-11 11:48] #904 closed, assigned to dmuelle

[2021-05-11 12:23] gljrobinson commented on #1270
Hi @KyleAure, would you mind giving us an update as to when a first draft of this is planned for?

[2021-05-11 18:16] KyleAure commented on #1270
Hello @GraceJansen sorry for the long wait on this.  Got interrupted.  I posted a draft under PR #1404
Let me know if I did that correctly.
Thank Kyle

[2021-05-12 12:38] austin0 opened #1405 "Open Liberty Beta blog post for 21.0.0.6-beta"

[2021-05-14 13:37] gljrobinson commented on #1270
Hey @KyleAure, no worries, thanks for creating this blog. I just took a look at your PR and noticed that you're trying to merge into prod. Can I ask, have you merged into our draft branch yet?
If you have already merged into draft and checked how it looks on our staging blog site (https://blogs-draft-openlibertyio.mybluemix.net/blog/) then please would you close this PR to prod and create a PR to

[2021-05-17 12:47] #1401 closed, assigned to austin0, jakub-pomykala

[2021-05-17 12:50] austin0 commented on #1401
https://openliberty.io/blog/2021/05/14/ldap-multipart-21005.html

[2021-05-17 14:17] KyleAure commented on #1270
Hello @GraceJansen okay sorry for confusion.  I have opened a PR into the draft branch here under #1421

[2021-05-18 21:10] jhanders34 opened #1425 "Jakarta EE 9.1 compatibility blog post"
Jakarta EE 9.1 will be announced within the next week.  Open Liberty is one of the implementations used for ratification of the specification.  We should announce our compatibility in a blog post.

[2021-05-19 13:52] austin0 commented on #1405
Blog is live: https://openliberty.io/blog/2021/05/18/metrics-jee9-21006-beta.html

Closing.

[2021-05-19 13:52] #1405 closed, assigned to austin0, jakub-pomykala

[2021-05-19 19:46] dmuelle commented on #1425
Sounds good, I made a few suggestions in the PR.  Do you have projected publish date? 5/26 or 5/28?

[2021-05-19 20:53] jhanders34 commented on #1425
I will take any date from today until 5/26.  The plan is for Jakarta EE 9.1 to be publicly announced on May 25.  Some of the web pages are already published that I reference in the PR so it could be done any time.  If you want to wait until May 26 after the official announcement I am ok with that.  I assume I should change the file name though if you want to do May 26 in to match up with that date

[2021-05-20 12:43] dmuelle commented on #1425
I only suggested the 26th because our regular cadence is to post on wed or fri. I don't know of any reason why we couldn't publish on 5/25 though. @GraceJansen coordinates the publish dates so it may depend on whether there is anything else going out that day. I'm not aware of anything so it's probably fine as is.

[2021-05-20 13:54] jhanders34 commented on #1425
I am fine with the 26th.  I have updated the PR to change the date of the blog to be the 26th.

[2021-05-21 12:42] gljrobinson commented on #1425
5/26 sounds good to me

[2021-05-21 14:14] barbj opened #1432 "New blog post for finding Liberty fixpack from GitHub issue"
New blog post for finding Liberty fixpack from GitHub issue

[2021-05-21 19:22] dmuelle commented on #970
published 5.21

[2021-05-21 19:22] #970 closed, assigned to gljrobinson

[2021-05-24 14:56] gljrobinson opened #1437 "Blogpost for Cloud-hosted guides"
Blog post introducing the new cloud-hosted guides on the open liberty website. Would be nice to have a short introduction as to the reasons behind creating these, their advantages and then introduce how they were made and the technologies being used by them (i.e. cloud, openshift, containers, odo, etc).

[2021-05-26 18:39] dmuelle commented on #1425
published 5/26: https://www.openliberty.io/blog/2021/05/26/jakarta-ee-9-1-compatibility.html

[2021-05-26 18:39] #1425 closed, assigned to nobody

[2021-06-01 12:12] gljrobinson commented on #114
@yeekangc now that @jamiecoleman92  has published an article about MicroShed testing to IBM Developer, do you want me just to create a redirect blog instead of a separate blog on this subject here on the Open Liberty blog?

[2021-06-01 12:13] gljrobinson commented on #164
@realModusOperandi just wanted to check if there had been any updates for this at all?
FYI @yeekangc

[2021-06-01 12:13] gljrobinson commented on #163
@fwji just wanted to check if there had been any updates on this? Thanks.
FYI @yeekangc

[2021-06-01 12:15] gljrobinson commented on #791
@gcharters and @yeekangc what's the next steps for this issue? Can this continue forward or does documentation still need to be changed?

[2021-06-01 13:29] pgunapal commented on #163
@GraceJansen Hi Grace, I'll message you about this

[2021-06-08 14:04] #1270 closed, assigned to KyleAure

[2021-06-09 13:12] jakub-pomykala opened #1475 "Open Liberty GA release blog post for 21.0.0.6"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-06-11 19:58] #1475 closed, assigned to austin0, jakub-pomykala

[2021-06-14 12:56] jakub-pomykala commented on #1475
Blog live [here](https://openliberty.io/blog/2021/06/11/request-timing-21006.html)

[2021-06-14 15:22] steven1046 opened #1489 "Duplicate blog post in draft branch"
https://github.com/OpenLiberty/blogs/blob/draft/posts/2021-03-03-jakarta-ee-9-compatibility.adoc
https://github.com/OpenLiberty/blogs/blob/draft/posts/2021-03-05-jakarta-ee-9-compatibility.adoc

Yet, only one of them made it to production. It is kind of confusing while working with the draft branch / website. Is it possible to remove the unused one? Only the one with release date of March 5th got

[2021-06-14 15:23] steven1046 commented on #1489
CC @jhanders34

[2021-06-14 15:29] jhanders34 commented on #1489
You want me to take care of that?  Not sure how that happened.  I believe I moved it from 03-03 to 03-05, but didn't know it left the old one for some reason.

[2021-06-14 15:30] jhanders34 commented on #1489
In general draft is way out of date compared to staging and prod.  It is all a mess.

[2021-06-14 15:36] steven1046 commented on #1489
If you can please. I can remove the old one if you want me to also.

[2021-06-14 15:37] steven1046 commented on #1489
Do you know other obvious things we need to address in draft? If this isn't a one time thing, we could bring this up on the website call.

[2021-06-17 22:37] joe-chacko opened #1511 "Blog post on AcidReference utility"
Describe the workings and usage of a Java concurrent utility developed and used in Liberty.

[2021-06-21 14:44] realModusOperandi commented on #164
Sorry, I just keep getting more side projects to do and I forget about this one. I'm going to try to squeeze this in this week or next.

[2021-06-22 12:35] dmuelle commented on #1432
revised post was published at https://www.openliberty.io/blog/2021/06/18/finding-liberty-fixpack.html

[2021-06-22 12:35] #1432 closed, assigned to barbj

[2021-06-24 10:43] gljrobinson commented on #164
That would be great! Thanks @realModusOperandi

[2021-06-28 13:57] dmuelle commented on #977
published 6/25

[2021-06-28 13:57] #977 closed, assigned to gljrobinson

[2021-07-06 08:11] jakub-pomykala opened #1525 "Open Liberty GA release blog post for 21.0.0.7"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-07-06 08:12] jakub-pomykala opened #1526 "Open Liberty Beta release blog post for 21.0.0.8-beta"

[2021-07-07 10:04] GraceJansen commented on #163
@yeekangc given this, would you be happy to close this issue?

[2021-07-07 10:05] gljrobinson commented on #164
Hi @realModusOperandi, just wanted to check in on progress of this blog?

[2021-07-07 10:05] gljrobinson commented on #114
@yeekangc?

[2021-07-07 10:06] gljrobinson commented on #1489
Hi @steven1046 and @jhanders34, just wondering if this issue should still be open or if it can be closed now?

[2021-07-07 10:07] gljrobinson commented on #1511
Hi @joe-chacko, just wanted to check in and see how this blog is progressing?

[2021-07-07 13:03] steven1046 commented on #1489
Yes, it's still a duplicate.

[2021-07-08 12:46] #973 closed, assigned to gljrobinson, jakub-pomykala

[2021-07-12 08:45] jakub-pomykala commented on #1525
@dmuelle, 21.0.0.7 went live on Thursday 8th of July. I have not changed the release notes file. Would you be able to give me a hand with this?

[2021-07-13 16:22] jhanders34 commented on #1489
Duplicate removed.

[2021-07-13 16:22] #1489 closed, assigned to nobody

[2021-07-15 08:30] jakub-pomykala commented on #1526
Blog live [here](https://openliberty.io/blog/2021/07/12/logging-format-21008-beta.html)

[2021-07-15 08:30] #1526 closed, assigned to jakub-pomykala

[2021-07-15 08:31] jakub-pomykala commented on #1525
Blog live [here](https://openliberty.io/blog/2021/07/08/sig-bugs-21007.html)

[2021-07-15 08:31] #1525 closed, assigned to austin0, jakub-pomykala

[2021-07-19 15:18] gljrobinson opened #1566 "Open Liberty with OpenJ9 blog"

[2021-07-20 22:02] joe-chacko commented on #1511
Hi @GraceJansen. I am waiting on a draft PR and then this is ready, I think.

[2021-07-22 19:34] dmuelle commented on #1437
postponing the publishing of this guide due to technical issues with cloud guide URLs. Hope to publish Monday 7/26

[2021-07-22 19:35] dmuelle commented on #1437
content is ID approved. Just need to update URLs and change filename to reflect new publish date

[2021-07-22 20:21] yeekangc opened #1581 "Blog post for HashiCorp Vault integration sample"
@jwalcorn has a sample for HashiCorp Vault integration that he is looking to contribute to https://github.com/OpenLiberty/sample-hashicorp-vault and write about.

[2021-07-27 08:55] #1437 closed, assigned to jamiecoleman92

[2021-07-29 12:15] gljrobinson commented on #1511
Hi @joe-chacko thanks for letting us know. @dmuelle is going to take a look hopefully at some point this week for an ID review and then hopefully we'll be able to publish it late next week or early the week after.

[2021-07-29 12:17] gljrobinson commented on #114
I would perhaps suggest this just be a re-direct to the article Jamie has published on IBM Developer - https://developer.ibm.com/articles/true-to-production-testing-microprofile-jakarta-ee/

[2021-07-29 12:18] gljrobinson commented on #164
Hi @realModusOperandi, just wanted to check in on progress of this blog?
FYI @yeekangc

[2021-07-29 12:18] GraceJansen commented on #163
@yeekangc any thoughts on the above?

[2021-07-29 13:56] dmuelle commented on #1511
Hi! I left some ID review comments on #1563. One thing to watch since that is pointed at `staging`, please make sure any edits are also delivered to `draft` so the versions don't conflict. Let me know if you have any questions. Thanks!

[2021-07-29 14:57] ryan-storey opened #1586 "Open Liberty GA release blog post for 21.0.0.8"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-07-29 14:58] ryan-storey opened #1587 "Open Liberty Beta release blog post for 21.0.0.9-beta"

[2021-08-05 18:51] ericglau opened #1606 "Blog post for Dev mode with multi module Maven projects"
Create blog post for https://github.com/OpenLiberty/ci.maven/issues/697

- Announce availability of the feature in a release of Liberty Maven plugin
- Introduce dev mode with multi module Maven projects
- Describe user scenario and how to use
- Point to https://github.com/OpenLiberty/ci.maven/blob/main/docs/dev.md#multiple-modules for more information

[2021-08-06 16:12] scottkurz commented on #791
OK.. so we have an easier way to install the Batch tooling.   It still needs documentation in some set of appropriate places.   (Who would ever think to uncheck the "Group by Category" checkbox to find it?  )

So how do we proceed?
1. Is this the right place to update the install doc?  https://www.ibm.com/docs/en/wasdtfe?topic=eclipse-installing-java-ee-batch-tools
2. Having done that can we get b

[2021-08-07 15:59] gljrobinson commented on #791
This is probably best answered by @yeekangc. YK, would you mind helping out on how to best proceed with all of this?

[2021-08-09 08:32] ryan-storey commented on #1587
Blog live [here](https://openliberty.io/blog/2021/08/06/endpoint-monitoring-21009-beta.html)!

[2021-08-09 08:32] #1587 closed, assigned to nobody

[2021-08-09 08:32] ryan-storey commented on #1586
Blog live [here](https://openliberty.io/blog/2021/08/06/important-fixes-21008.html)!

[2021-08-09 08:32] #1586 closed, assigned to jakub-pomykala, ryan-storey

[2021-08-10 14:57] ericglau commented on #1606
Draft: https://github.com/OpenLiberty/blogs/blob/multimodule/posts/2021-08-13-dev-mode-multi-module.adoc

[2021-08-10 15:54] mezarin opened #1611 "Blog showing Open Liberty stack support for applications using Gradle"

[2021-08-10 16:02] gljrobinson commented on #1511
Hi all, how are we doing on this blog? @dmuelle do you think it's possible for us to publish this this week or are we still awaiting edits?

[2021-08-10 21:10] ericglau commented on #1606
Made a change to the draft to use the shortened `liberty:dev` command and added `liberty:run` info.

@kathrynkodama @yeekangc Please see the changes in the commit https://github.com/OpenLiberty/blogs/commit/ce8708616fb4792d350a0d290c37c988ba56c9d2 to see if you prefer the long or short command in the blog post.  Note that the OL docs update for multi module https://docs-draft-openlibertyio.mybluem

[2021-08-12 13:45] steven1046 opened #1615 "Blog about the Open Liberty Starter"
Let's write a blog on yet another way to get started on Open Liberty. We should discuss the starter in the first half and then summarize other ways someone can get started with Open Liberty like using a docker image, maven/gradle guides, downloading the binary, etc.

[2021-08-16 08:01] gljrobinson commented on #114
This has been published as a re-direct post to Jamie's MicroShed testing article on IBM Developer

[2021-08-16 08:01] #114 closed

[2021-08-16 14:02] mezarin opened #1621 "Blog on binding services to applications"
It uses the Service Binding Operator, ODO, and the OL Stack.

[2021-08-16 15:28] gljrobinson opened #1623 "Meet Our Open-Source Champions Blog Series - Kevin Sutter"

[2021-08-16 20:39] ericglau commented on #1606
@yeekangc Can you please do an initial content review of the draft at https://draft-openlibertyio.mybluemix.net/blog/2021/08/13/dev-mode-multi-module.html ?  (I didn't create a PR to staging yet, since we will still be adding some gifs).

You can comment here or edit the file directly at https://github.com/OpenLiberty/blogs/blob/multimodule/posts/2021-08-13-dev-mode-multi-module.adoc

[2021-08-19 09:07] gljrobinson opened #1642 "Meet Our Open-Source Champions Blog Series - Harry Hoots III"

[2021-08-19 09:07] gljrobinson opened #1643 "Meet Our Open-Source Champions Blog Series - Andy McCright"

[2021-08-19 09:08] gljrobinson opened #1644 "Meet Our Open-Source Champions Blog Series - Kathryn Kodama"

[2021-08-19 09:09] gljrobinson opened #1646 "Meet Our Open-Source Champions Blog Series - Gilbert Kwan"

[2021-08-19 21:10] yeekangc commented on #791
Let us validate with the latest LDT and Eclipse IDE releases first.

Then, we can consider appropriate doc updates for LDT (which is also at the Docs link Scott mentioned above).

After these, we can consider a blog to socialize what we have here if appropriate.

Cc @pnickoll

[2021-08-23 14:14] scottkurz commented on #791
OK, I can confirm that I can install the tooling to the point
 * Java EE IDE distribution - 2021.06R
 * LDT 21.0.0.6
 * going on to install the IBM Java EE Batch function

### NOTE

I recall in WDT always installing the Batch function add-on via:  "Help->Install WebSphere Software".  There are no options at all when I try this.

Instead I have to do:  "Help->Install New Software".  and pick the up

[2021-08-23 14:15] scottkurz commented on #791
On a separate note, we really just want to show how to use the
 - JSL / job editor
 - the job submission client ("Run As > Java EE Batch Job")

 I don't think we want the IDE tools-managed runtime, either pre-LMP-integration (as written) or even with the LMP integration.

[2021-08-23 16:07] gljrobinson commented on #1615
This has now been published.

[2021-08-23 16:07] #1615 closed, assigned to steven1046, dmuelle

[2021-08-24 15:53] realModusOperandi commented on #164
Since we're good with the overall content of the post I'll go ahead and bring the draft over to the repo format.

[2021-08-27 16:24] gcharters opened #1671 "Blog post: How zero migration and continuous delivery eliminate technical debt"
A blog post talking about how zero migration and continuous delivery eliminate technical debt. I'd like to be able to reference this from the websphere-liberty product page. The flow would be something along the lines of:

- Would talk about causes and risks of technical debt (not keeping deployments up to date, security vulnerabilities).
- Would talk about how Microservices makes this worse/more

[2021-08-27 16:30] gcharters opened #1672 "Kubernetes-native Liberty"
A blog post talking about the container and Kubernetes credentials of Liberty, such as:

- Container images - where to get them, prebuilt for production, maybe talk about how to use them, signing, etc.
- Kubernetes integration - MicroProfile APIs for Health integration, Operator supports, S2I support for OCP, etc.
- Performance tuning and the fact you don't need to tune the thread pools.  Optimal

[2021-08-27 16:35] gcharters opened #1673 "Java EE, Jakarta EE and MicroProfile"
An opinion piece on these technologies to help with positioning Java EE, Jakarta EE and MicroProfile, how they relate to each other, how they can be used together (e.g. MP not just about Microservices, Jakarta EE the future of Java EE, etc).

fyi, @kwsutter - an issue for the blog post I suggested a while ago.

[2021-08-31 09:32] ryan-storey opened #1675 "Open Liberty GA release blog post for 21.0.0.9"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-09-01 10:58] gljrobinson commented on #1672
@gcharters do we have someone already assigned to write this?

[2021-09-01 11:01] gljrobinson commented on #1673
@gcharters do we have someone already assigned to write this?
Will this be similar to https://developer.ibm.com/articles/java-ee-jakarta-ee-microprofile-or-maybe-all-of-them/?

[2021-09-01 11:01] gljrobinson commented on #1671
@gcharters do we already have someone assigned to author this blog post?

[2021-09-01 14:09] gljrobinson commented on #1606
Aiming to publish this on the 9th September 2021

[2021-09-01 14:09] gljrobinson commented on #1611
Aiming to publish this on the 14th September 2021.

[2021-09-01 14:09] gljrobinson commented on #1621
Aiming to publish this on the 17th September 2021.

[2021-09-02 10:07] ryan-storey opened #1688 "Open Liberty Beta release blog post for 21.0.0.10-beta"

[2021-09-06 14:40] #1675 closed, assigned to ryan-storey

[2021-09-07 13:47] gljrobinson commented on #1511
Aim is to publish this on the 21st September 2021. @dmuelle @joe-chacko

[2021-09-09 08:01] #1688 closed, assigned to nobody

[2021-09-09 19:20] dmuelle commented on #1606
published at: https://www.openliberty.io/blog/2021/09/09/dev-mode-multi-module.html

[2021-09-09 19:20] #1606 closed, assigned to ericglau, dmuelle

[2021-09-09 19:38] mgrygles commented on #1623
Hello @dmuelle - As Grace is on vacation, we have a request from Kevin Sutter asking if his blog may get published by the end of this week (or by Monday)?  Will that be possiible, and if so, what might I be able to help (if needed)?  Thanks in advance!

[2021-09-09 21:56] dmuelle commented on #1623
Hi @mgrygles, I can help get the post published tomorrow- but I havent worked with any of the "profile" posts and I dont know what plans Grace had for scheduling them. If Kevin has approved the post, I can take a look over it for typos etc. Not sure what kind of review it's had thus far

[2021-09-10 04:46] gljrobinson commented on #1623
I’m happy with it being published this week. @dmuelle Kevin has approved it, and I believe YK has too for this specific profile. It needs a better subtitle/description for the blogs homepage because at the moment I think it just shows the first paragraph. It hasn’t had an editorial review yet either. Other than that, it should hopefully be good to go. I’m on vacation so can’t help much more with i

[2021-09-10 12:26] dmuelle commented on #1623
I'll do my best to get it edited and published by EOD. I expect since it's an interview the only edits will be for typos/syntax. Will update this issue when it publishes

[2021-09-10 21:09] dmuelle commented on #1623
this post is now published at https://www.openliberty.io/blog/2021/09/10/KevinSutter_MeetTheTeam.html

[2021-09-10 21:09] #1623 closed, assigned to gljrobinson

[2021-09-14 16:33] dmuelle commented on #1611
post is published at: https://www.openliberty.io/blog/2021/09/14/open-liberty-stack-gradle.html

[2021-09-14 16:33] #1611 closed, assigned to nobody

[2021-09-16 14:06] gljrobinson commented on #164
This is scheduled to be published on the 24th September 2021.
FYI @dmuelle and @realModusOperandi

[2021-09-17 09:25] gljrobinson commented on #1642
Scheduled publish date for this is the 29th September @dmuelle

[2021-09-17 09:28] gljrobinson commented on #1644
Scheduled publish date for this is the 5th October @dmuelle

[2021-09-17 09:28] gljrobinson commented on #1643
Scheduled publish date is the 8th October @dmuelle

[2021-09-17 09:36] ryan-storey opened #1731 "Open Liberty GA release blog post for 21.0.0.10"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-09-17 09:37] ryan-storey opened #1732 "Open Liberty release blog post for 21.0.0.11-beta"

[2021-09-17 09:50] gljrobinson commented on #1731
Scheduled for publication on the 1st October @dmuelle @ryan-storey

[2021-09-17 09:50] gljrobinson commented on #1732
Scheduled for publishing on the 1st October 2021 @dmuelle @ryan-storey

[2021-09-17 09:51] gljrobinson commented on #1646
Schedule for publishing on the 13th October 2021 @dmuelle

[2021-09-17 21:02] dmuelle commented on #1621
published: https://www.openliberty.io/blog/2021/09/17/binding-app-to-postgresql-db-with-odo-and-ol-stack.html

[2021-09-17 21:02] #1621 closed, assigned to nobody

[2021-09-21 16:28] dmuelle commented on #1511
published at https://www.openliberty.io/blog/2021/09/21/building-on-atomic-reference.html

[2021-09-21 16:28] #1511 closed, assigned to joe-chacko, dmuelle

[2021-09-23 16:39] gljrobinson opened #1735 "JCON conference sessions"
Create a blogpost advertising all of our sessions at JCON in October - sessions around Open Liberty, MicroProfile, Jakarta EE, etc...

Similar to the blogs Laura would create: https://openliberty.io/blog/2017/09/29/javaone-sessions-open-liberty-team.html
https://openliberty.io/blog/2019/02/21/devnexus-microprofile-open-liberty.html

[2021-09-23 16:58] gljrobinson opened #1738 "EclipseCon conference sessions"
Create a blogpost advertising all of our sessions at EclipseCon at the end of October - sessions around Open Liberty, MicroProfile, Jakarta EE, etc...

Similar to the blogs Laura has created in the past:
https://openliberty.io/blog/2017/09/29/javaone-sessions-open-liberty-team.html
https://openliberty.io/blog/2019/02/21/devnexus-microprofile-open-liberty.html

[2021-09-24 20:14] ajm01 opened #1746 "Open Liberty GA release blog post for Philly JUG presentation 09/21/2021"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-09-24 21:24] dmuelle commented on #164
published at https://www.openliberty.io/blog/2021/09/24/liberty-bikes.html

[2021-09-24 21:24] #164 closed

[2021-09-28 03:38] mbroz2 opened #1748 "Update Release Blog Template to include UPDATED guides"
Update the [release blog post template](https://github.com/OpenLiberty/blogs/blob/prod/templates/ga-release-post.adoc) to include any guides since the last GA that have received the UPDATED label.

So we'd want to add a section like
# Recently Updated Guides

which would then list each guide that has received the UPDATED Label, along with a 1-3 sentence description of what was updated (provided by

[2021-09-28 03:39] mbroz2 commented on #1748
Blocked on
[Add supported of "UPDATED" label/badge in guides](https://github.com/OpenLiberty/openliberty.io/issues/2286)

[2021-09-28 14:52] gljrobinson commented on #1746
Hi @ajm01, is this a stand-alone blog? If it is, would you mind closing this issue and opening a new one that is now a release post? There should an option to select that in blue hyperlink text when it shows you the option to use the release blog template (it should be an option for a blank issue).

[2021-09-30 14:21] gljrobinson commented on #1672
Potential for each bullet point in description to become it's own blog as part of this overarching series on Kube-native Liberty

[2021-10-01 10:17] gljrobinson commented on #163
This is scheduled to be published in Q1 after updates to the Space Sentry application are completed.

[2021-10-04 14:59] gljrobinson commented on #1672
Leo happy to author part 1 and 2 for Q1 target date

[2021-10-04 15:03] GraceJansen commented on #1732
@ryan-storey I noticed this has been published. Are we ok to close this issue now?

[2021-10-04 15:04] gljrobinson commented on #1731
Published: https://openliberty.io/blog/2021/10/01/java17-210010.html

[2021-10-04 15:04] #1731 closed, assigned to ryan-storey

[2021-10-04 15:06] gljrobinson commented on #1735
Published: https://openliberty.io/blog/2021/09/30/jcon-conference.html

[2021-10-04 15:06] #1735 closed, assigned to gljrobinson, dmuelle

[2021-10-04 20:39] #1746 closed, assigned to ryan-storey

[2021-10-04 20:43] ajm01 opened #1781 "Blog post for Philly JUG presentation"
blog post to highlight a recent discussion I held with the Philadelphia JUG

[2021-10-07 14:52] gljrobinson commented on #1732
This is now published: https://openliberty.io/blog/2021/10/05/configurable-response-headers-21.0.0.11-beta.html

[2021-10-07 14:52] #1732 closed, assigned to nobody

[2021-10-08 08:32] gljrobinson commented on #1642
This is now published here: https://openliberty.io/blog/2021/10/07/HarryHoots_MeetTheTeam.html

[2021-10-08 08:32] #1642 closed, assigned to gljrobinson, dmuelle

[2021-10-11 14:38] dmuelle commented on #1738
ID review-

Looks good, just a few minor things
- change filename to reflect publish date

consider shortening and using a list to make this more readable:

It connects the Eclipse ecosystem and the industry’s leading minds to explore common challenges and innovate together around:
- open source runtimes, tools, and frameworks for cloud and edge applications
- IoT
- artificial intelligence
- conne

[2021-10-12 15:22] #1738 closed, assigned to gljrobinson, dmuelle

[2021-10-13 12:55] gljrobinson opened #1812 "Meet our open-source champions - Diane Chalmers"

[2021-10-13 12:55] gljrobinson opened #1813 "Meet our open source champions - Monica Tamboli"

[2021-10-15 15:40] dmuelle commented on #1644
### ID review

Looks good, a few minor suggestions

- change filename to match pub date

- `In this blog series, we’ll be highlighting some of the amazing individuals who contribute to Open Source software. We’ll be delving into their contributions within OSS, their career journey, how being involved in OSS has helped them, what they enjoy about contributing to OSS and their advice for getting inv

[2021-10-20 09:14] gljrobinson commented on #1644
This has now been published here: https://openliberty.io/blog/2021/10/19/KathrynKodama_MeetTheTeam.html

[2021-10-20 09:14] #1644 closed, assigned to gljrobinson, dmuelle

[2021-10-20 10:39] gljrobinson opened #1830 "Meet our open-source champion: David Mueller"

[2021-10-20 10:45] gljrobinson opened #1831 "Meet our open source champion: Emily Jiang"

[2021-10-22 01:37] yeekangc opened #1835 "Edits for OSS Champion blog post on Kathryn"
- Names referencing MicroProfile and Jakarta EE: Mention the names of the various tools and OSS projects as they are if possible.  They usually follow the "XYZ for MicroProfile" or "ABC for Jakarta EE" pattern.

- Broken link for https://www.ibm.com/blogs/jobs/2019/05/31/7-reasons-my-ibm-internship-got-me-off-to-a-great-start/?

- Typos:
  - "(VS code)" should be "(VS Code)";
  - "University campu

[2021-10-22 01:38] yeekangc commented on #1835
@kathrynkodama @GraceJansen

[2021-10-25 16:35] ryan-storey opened #1840 "Open Liberty GA release blog post for 21.0.0.11"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-10-28 13:34] dmuelle commented on #1781
published at https://www.openliberty.io/blog/2021/10/26/openliberty-jug-presentation.html

[2021-10-28 13:34] #1781 closed, assigned to ajm01, dmuelle

[2021-11-05 01:47] scottkurz commented on #791
Actually I'm wondering now if you can use the job submission without the LMP integration.  This would be interesting to explore.

[2021-11-11 16:19] #1840 closed, assigned to ryan-storey

[2021-11-12 12:06] gljrobinson commented on #1835
@dmuelle Can this issue be closed now that the changes have been merged with prod?

[2021-11-12 12:08] gljrobinson commented on #1566
@yeekangc is this related to any of the blogs on the community site?

[2021-11-16 11:36] gljrobinson commented on #1643
This has now been published: https://openliberty.io/blog/2021/11/15/AndyMcCright_MeetTheTeam.html

[2021-11-16 11:36] #1643 closed, assigned to gljrobinson

[2021-11-16 11:50] #1835 closed, assigned to nobody

[2021-11-16 17:40] gljrobinson commented on #1671
Due to commitments, this has been pushed back to end of Dec/Jan

[2021-11-17 11:19] gljrobinson commented on #1813
Targeted publish date of Friday 19th November 2021. @dmuelle

[2021-11-17 11:20] gljrobinson commented on #1646
Re-scheduled publish date to 26th November 2021.

[2021-11-17 11:51] gljrobinson opened #1881 "A day out in London at the RedHat Connect Summit"
Joint blog between myself and Yasmin on our visit to the RedHat Connect Summit in London

[2021-11-19 16:32] yeekangc opened #1896 "Consider syndicating the Open Liberty Security Harderning blog post"
https://community.ibm.com/community/user/wasdevops/blogs/gary-picher/2021/11/17/websphere-and-open-liberty-security-hardening-summ?CommunityKey=5c4ba155-561a-4794-9883-bb0c6164e14e&tab=recentcommunityblogsdashboard

@garypicher did 2 sessions on Open Liberty Security Hardening and posted the above to IBM Community.  We can consider syndicating on openliberty.io.

@GraceJansen @dmuelle, for your co

[2021-11-19 16:36] yeekangc opened #1897 "Review title and metadata for 21.0.0.12's beta blog post"
https://openliberty.io/blog/2021/11/02/microprofile-jakarta-210012-beta.html

The current title is kinda awkward.  We should review it, @ryan-storey @dmuelle.

Cc @GraceJansen

[2021-11-19 16:37] yeekangc commented on #1897
Suggestion from David:

_MicroProfile 5.0 aligns with Jakarta EE 9.1 and MicroProfile OpenAPI support for multi-module applications in 21.0.0.12-beta_

[2021-11-19 16:41] yeekangc commented on #1897
Should review the front matter especially the SEO metadata and blog description too.  I feel they can be improved.

Take out "- makes sure it ends with -" too?

[2021-11-19 17:11] ryan-storey commented on #1897
Agreed, the current title could do with some improvements. I'll add David's suggestion for the title. How do you think we can change the SEO metadata and blog description?

[2021-11-19 20:30] yeekangc commented on #1897
I think we should do a review of them and edit accordingly.  I mentioned the one bit we should clean up.

[2021-11-22 14:09] gljrobinson commented on #1813
This has been published

[2021-11-22 14:09] #1813 closed, assigned to gljrobinson, dmuelle

[2021-11-22 14:52] ryan-storey opened #1906 "Open Liberty GA release blog post for 21.0.0.12"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-11-22 14:53] ryan-storey opened #1907 "Open Liberty Beta release blog post for 22.0.0.1-beta"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2021-11-22 19:16] garypicher commented on #1896
I'm not familiar with the process for syndicating stuff on openliberty.io, so please let me know if you have any questions about my post, or if you need anything from me to make this happen! :)

[2021-11-22 22:16] gljrobinson commented on #1881
This has now been published

[2021-11-22 22:16] #1881 closed, assigned to gljrobinson, dmuelle

[2021-11-29 15:33] gljrobinson commented on #1646
This has now been published.

[2021-11-29 15:33] #1646 closed, assigned to gljrobinson, dmuelle

[2021-11-30 10:57] gljrobinson commented on #1906
This has now been published: https://openliberty.io/blog/2021/11/26/jakarta-ee-9.1.html

[2021-11-30 10:57] #1906 closed, assigned to ryan-storey

[2021-12-06 14:29] #1907 closed, assigned to ryan-storey

[2021-12-07 14:15] gljrobinson commented on #1812
This has now been published

[2021-12-07 14:15] #1812 closed, assigned to gljrobinson, dmuelle

[2021-12-07 14:15] gljrobinson commented on #1897
@ryan-storey can this be closed?

[2021-12-07 14:28] ryan-storey commented on #1897
I've made a merge into staging, now I just need someone to merge into prod and kick off the prod site build, perhaps it's best to leave this issue open until this is done?

[2021-12-07 17:02] gljrobinson opened #1950 "Meet our OSS champion: Billy Dawson"

[2021-12-08 16:56] #1897 closed, assigned to ryan-storey

[2021-12-10 20:53] yeekangc opened #1972 "How to build and install a user feature"
Perhaps this is a 2- if not multi-part series?

Describe how developers can build custom features, how they can prepare the features for install from a repository and how users can install them (using CLI or Liberty Maven & Gradle plugins).

@jagraj @jjiwooLim Cc @gkwan-ibm

Alternate option is to consider this as a guide.  (Perhaps we start this as a set of blog posts and turn it into a guide eve

[2021-12-15 09:40] gljrobinson commented on #1830
This has now been published: https://openliberty.io/blog/2021/12/10/DavidMueller_MeetTheTeam.html

[2021-12-15 09:40] #1830 closed, assigned to gljrobinson, dmuelle

[2022-01-04 15:57] yeekangc commented on #791
A set of instruction has been posted to https://www.ibm.com/support/pages/node/6523380

[2022-01-04 19:52] scottkurz commented on #791
Yes this at least describes the install.  The original article also showed how to create a project and step through some simple tooling use cases.  A user would have more of a chance to figure out the latter on their own.. so just having the install doc is maybe the most critical part.

But we should still follow-up for the rest.

[2022-01-13 14:14] ryan-storey opened #1991 "Open Liberty GA release blog post for 22.0.0.1"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-01-13 14:14] ryan-storey opened #1992 "Open Liberty beta release blog post for 22.0.0.2-beta"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-01-13 15:10] gljrobinson commented on #259
@follis did you have a draft of this blog at all? Wondering if we could potentially use that to publish something around this relating to Jakarta Batch perhaps?
FYI @scottkurz. Let me know your thoughts.

[2022-01-13 15:16] gljrobinson commented on #1566
Perhaps a walk through of using Liberty with Open J9 through IBM Semeru Runtimes, point to other existing resources around advantages.

[2022-01-13 15:25] follis commented on #259
Are you looking for this?
https://github.com/OpenLiberty/blogs/pull/62/commits/b361b6de6a68ed18412d30e4683b6c251d8c3538

[2022-01-20 11:35] #1991 closed, assigned to ryan-storey

[2022-01-20 16:32] gljrobinson commented on #1672
Target date for first article is March 2022.
Target date for second article is Q2.

[2022-01-20 16:37] gljrobinson commented on #1972
Initial target date for this is the end of Feb 2022.

[2022-01-20 17:41] gljrobinson commented on #163
Target date for February 2022.

[2022-01-25 18:24] dmuelle commented on #1896
@garypicher @GraceJansen Here's the syndicated post on draft (top of page)
https://draft-openlibertyio.mybluemix.net/blog/
If all looks good we can get it set to publish

[2022-01-25 20:43] garypicher commented on #1896
Hi @dmuelle , looks good to me!  Thanks for doing this!

[2022-01-31 10:09] gljrobinson commented on #1896
@dmuelle is this issue now complete? Can this be closed?

[2022-01-31 10:10] gljrobinson commented on #1992
@ryan-storey is this issue complete? Can this be closed now?

[2022-01-31 14:10] dmuelle commented on #1896
yes- published Friday 1/28: https://www.openliberty.io/blog/

[2022-01-31 14:10] #1896 closed, assigned to gljrobinson

[2022-02-01 10:01] #1992 closed, assigned to ryan-storey

[2022-02-04 18:33] kathrynkodama opened #2013 "Introducing automatic generation of features in Liberty server configuration (Tech Preview) "
Blog post to highlight the tech preview release of automatic generation of features in Liberty server configuration as part of Liberty dev mode.

[2022-02-08 14:20] ryan-storey opened #2019 "Open Liberty GA release blog post for 21.0.0.2"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-02-08 14:20] ryan-storey opened #2020 "Open Liberty beta release blog post for 21.0.0.3-beta"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-02-09 20:51] kathrynkodama commented on #2013
This has been published

[2022-02-09 20:51] #2013 closed, assigned to kathrynkodama

[2022-02-15 22:18] jjiwooLim opened #2034 "Blog on Liberty user feature"
build and install user feature using Maven plugins.

[2022-02-16 21:42] pgunapal commented on #163
Published: https://openliberty.io/blog/2022/02/16/space-sentry-challenge.html

[2022-02-16 21:42] #163 closed

[2022-02-17 15:11] gljrobinson commented on #1831
Syndicate Eclipse committer blog

[2022-02-17 16:11] #2019 closed, assigned to ryan-storey

[2022-02-21 11:32] gljrobinson opened #2056 "Syndicate 6+3 reasons why Liberty blog"
https://community.ibm.com/community/user/wasdevops/blogs/shane-orourke/2021/10/31/6-2-reasons-why-liberty-is

[2022-02-21 11:32] gljrobinson opened #2057 "Syndicate blog post on minimising Liberty images"
https://community.ibm.com/community/user/wasdevops/blogs/joseph-mcclure/2021/11/08/creating-a-minimized-liberty-container-image

[2022-02-21 11:33] gljrobinson opened #2058 "Syndicate Liberty JVM performance blog"
https://community.ibm.com/community/user/wasdevops/blogs/joshua-dettinger/2022/02/07/number-of-liberty-jvms-affect-throughput-and-memor

[2022-02-21 11:35] gljrobinson commented on #1831
https://t.co/T4ycutNRbN

[2022-02-21 11:41] #2020 closed, assigned to ryan-storey

[2022-02-21 11:42] #2034 closed, assigned to nobody

[2022-02-24 13:42] dmuelle commented on #1831
published 2/23

[2022-02-24 13:42] #1831 closed, assigned to Emily-Jiang, gljrobinson

[2022-03-03 14:54] kathrynkodama opened #2065 "Working with dev mode in Eclipse IDE"

[2022-03-04 11:58] BillyD73 commented on #1950
PR #2066

[2022-03-09 17:10] gljrobinson commented on #1672
This has now been pushed back until June 2022.

[2022-03-18 16:53] kevin-ortega opened #2111 "Introducing Paketo Liberty buildpack"
Targeting availability on 04.01.2022

buildpack repo:  https://github.com/paketo-buildpacks/liberty. (still in development)
Info on paketo https://paketo.io/

[2022-03-25 10:42] gljrobinson opened #2118 "IBM at DevNexus"
Summary of all of the IBM activities taking place at DevNexus

[2022-03-29 15:32] rhagarty opened #2132 "DevNexus Conference"
Blog post about what we will be presenting at DevNexus in Atlanta during week of April 11-15, 2022

[2022-03-29 19:16] yeekangc commented on #2132
@GraceJansen @dmuelle

[2022-03-29 19:16] yeekangc commented on #2132
Rich is putting a draft together.

[2022-03-29 19:23] yeekangc commented on #2132
This is a duplicate of #2118.  We can close the other issue.

[2022-03-29 19:24] rhagarty commented on #2132
interesting... I can be assigned, but I can't push

[2022-03-29 20:11] rhagarty commented on #2132
working now. Pls review draft - https://github.com/OpenLiberty/blogs/pull/2133

[2022-03-30 18:53] shamjithantholi opened #2135 "Using Jenkins for CI/CD with Liberty"
DevOps pipeline for single module Open liberty application deployment with technology stack GitHub, Jenkins, Helm, IBM Cloud Kubernetes service

[2022-04-01 15:39] yeekangc commented on #2132
@rhagarty, we should update the metadata your profile and your photo.

[2022-04-01 15:41] yeekangc commented on #2132
I will add/update in the PR I am working on.

[2022-04-01 15:49] rhagarty commented on #2132
I am listed as a co-author, and it points to my github repo and photo (old, but works). This matches what Grace has. Is that sufficient, or is there other bio stuff that needs updating?

[2022-04-01 15:50] yeekangc commented on #2132
I realized that after the fact.  You can be the author directly.  =)

[2022-04-01 15:51] rhagarty commented on #2132
I stole most of this from an old blog from Grace, so she deserves the author tag

[2022-04-05 15:12] gkwan-ibm opened #2168 "31 guides are updated to use MP5 and JakartaEE 9.1"
Create a blog to socialize to users that
- 31 guides were updated to use MP5 and JakartaEE 9.1
- cloud hosted guides were updated with new interfaces

[2022-04-07 15:45] lauracowen opened #2186 "Using Jenkins for CI/CD with Liberty draft blog post review comments"
I was only able to do a quick review and wasn't able to read the main part of the post in detail. So I've put down as many notes as I can so far but I can take another look next week (depending on whether that's in time for when it's intended to be published). Let me know if you'd like me to do that and I'll make time to do it.

TITLE
* I think I'd retitle it, for SEO purposes, to be more explicit

[2022-04-07 18:41] yeekangc commented on #2132
Missed your comment above but thank you, Rich.

This has been published.  Closing.

[2022-04-07 18:41] #2132 closed, assigned to rhagarty

[2022-04-07 18:41] yeekangc commented on #2118
Delivered via #2132.

[2022-04-07 18:42] #2118 closed, assigned to gljrobinson

[2022-04-07 18:42] yeekangc commented on #2065
This has been published.  Closing.

[2022-04-07 18:42] #2065 closed, assigned to kathrynkodama

[2022-04-12 20:29] nstewart0206 opened #2206 "How to configure non-IBM messaging"
Blog post on how to configure Liberty and OpenLiberty with a non-IBM messaging service.  Example services are ActiveMQ, Tibco, RabbitMQ, etc.

[2022-04-14 10:02] lauracowen opened #2217 "Jenkins blog post edit"
**As discussed on our call yesterday, I've created an edited draft of your post below. Comments/questions for you are in bold text. Happy to have another call if you want to discuss it more, or chat on Slack.**

**The post needs to be opinionated. What's the best approach to doing CI with Liberty Java code using Jenkins? Don't give them all the alternatives; they can find alternatives in the docum

[2022-04-14 10:03] lauracowen commented on #2186
See #2217

[2022-04-14 10:03] #2186 closed, assigned to shamjithantholi

[2022-04-14 10:03] lauracowen commented on #2217
@yeekangc in case you disagree or have any comments?

[2022-04-20 11:28] gljrobinson commented on #1950
This has now been published

[2022-04-20 11:28] #1950 closed, assigned to BillyD73, gljrobinson

[2022-04-20 11:29] gljrobinson commented on #2168
This has now been published.

[2022-04-20 11:29] #2168 closed, assigned to nobody

[2022-04-20 11:29] gljrobinson commented on #2111
This has been published

[2022-04-20 11:29] #2111 closed, assigned to kevin-ortega

[2022-04-21 11:26] lauracowen commented on #2135
See #2217 for edit/feedback

[2022-04-21 11:27] lauracowen opened #2218 "Syndicate: Nick Heidloff blog post on OL"

[2022-04-21 11:28] lauracowen commented on #2218
http://heidloff.net/article/modernizing-websphere-liberty-applications-with-open-liberty/

[2022-04-22 15:42] yeekangc commented on #2217
I feel this is the style and approach we should take for the series of DevOps content.

[2022-04-22 19:50] yeekangc opened #2219 "DevSecOps with Git Lab"
Consider a version of https://community.ibm.com/community/user/wasdevops/blogs/randy-langehennig1/2022/02/24/bringing-devsecops-best-practices-to-liberty-based for openliberty.io

Cc @lauracowen @GraceJansen

[2022-04-22 19:54] yeekangc commented on #2206
Cc @gkwan-ibm @ocseal

[2022-04-26 18:21] yeekangc commented on #1566
@jamiecoleman92 indicated he will get started on this blog post this week.

[2022-04-28 00:15] dmuelle commented on #2057
published 4/27

[2022-04-28 00:15] #2057 closed, assigned to nobody

[2022-04-28 07:36] rdebusscher opened #2227 "Easy and Fast Data Access in Open Liberty with MicroStream CDI Extension"
Third-party

MicroStream v 7.0 has a CDI extension to integrate the framework with MicroProfile runtimes.  This blog describes an example how you can use it with Open Liberty.

Discussed with Emily and YK.

[2022-04-28 09:12] rdebusscher commented on #2227
See PR https://github.com/OpenLiberty/blogs/pull/2228

[2022-04-28 12:53] yeekangc commented on #2227
Cc @GraceJansen @dmuelle

[2022-05-03 22:05] dettmoney opened #2241 "Syndicate performance blog posts from community.ibm.com to openliberty.io"
There's a series of performance-related blogs out on community.ibm.com that we should potentially link from openliberty.io. Search for the tag "WebSphere-Performance" and you'll find 10-15, most of which apply to open liberty.

[2022-05-10 10:40] ryan-storey opened #2248 "Open Liberty GA release blog post for 22.0.0.5"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-05-10 10:40] ryan-storey opened #2249 "Open Liberty beta release blog post for 22.0.0.6-beta"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-05-12 09:39] #2217 closed, assigned to shamjithantholi

[2022-05-12 11:08] gljrobinson commented on #2227
This has been published

[2022-05-12 11:08] #2227 closed, assigned to rdebusscher, dmuelle

[2022-05-16 18:17] yeekangc commented on #2241
We can consider a summary blog post that provides a guided walk through of the various pieces the team has published ... beyond mere syndication.

Cc @lauracowen @GraceJansen @dmuelle

[2022-05-16 18:17] yeekangc commented on #2241
This issue is related to #2058.

[2022-05-18 12:06] lauracowen commented on #2219
I'll write a rough draft for him to Randy to complete.

[2022-05-20 13:20] yeekangc opened #2269 "Blog post on the new "Technical Deep Dive on Liberty" tutorial"
Publish a blog post about the new "Technical Deep Dive on Liberty" tutorial.  Talk about what it is and point users to try it out at https://openliberty.io/guides/liberty-deep-dive.html or https://ibm.biz/LibertyDeepDive for the cloud-hosted option.

Cc @gkwan-ibm @mbroz2

[2022-05-20 16:56] mbroz2 commented on #2269
This should be discussed first.  As soon as we publish this post that links to https://openliberty.io/guides/liberty-deep-dive.html, crawlers will find it and index that page, potentially causing SEO cannibalization of the guides.

One approach would be to mark the deep dive as a no-index page.  However, I don't believe we currently have a means to do that via front matter.... @kinueng

[2022-05-20 18:44] kinueng commented on #2269
The tutorial has already been indexed by search engines. I also confirmed using Google Search Console.
- https://duckduckgo.com/?q=open+liberty+deep+dive
- https://www.google.com/search?q=open+liberty+deep+dive

I will need to look into how to mark the tutorial as an no-index page.  Looks like `robots.txt` is not the guaranteed way to ask indexers to exclude certain pages.

Per Google's documentat

[2022-05-20 18:55] kinueng commented on #2269
@mbroz2,
We can use front matter to toggle if a page includes the noindex meta tag (`<meta name="robots" content="noindex" />`). We have a simple logic to apply the noindex to our development sites, we can add more logic to also look for `adoc` files with `{% if page.noindex %}` Liquid logic.

https://github.com/OpenLiberty/openliberty.io/blob/697ec60ab71dd412c468b10c860f97615c99a8b5/src/main/cont

[2022-05-26 12:23] #2248 closed, assigned to ryan-storey

[2022-05-26 12:23] gljrobinson commented on #2248
This has been published.

[2022-05-26 12:23] gljrobinson commented on #2249
This has been published.

[2022-05-26 12:23] #2249 closed, assigned to ryan-storey

[2022-05-26 12:33] gljrobinson commented on #1350
Hi @joe-chacko, just wanted to check in with you on progress for this blog.

[2022-05-26 15:08] lauracowen commented on #2219
Created [draft for Randy to look at and edit](https://blogs-draft-openlibertyio.mybluemix.net/blog/2022/06/30/devsecops.html)

[2022-05-31 14:30] dmuelle commented on #2135
now published at https://openliberty.io/blog/2022/05/27/liberty-devops-ci-cd-jenkins.html

[2022-05-31 14:30] #2135 closed, assigned to shamjithantholi

[2022-06-01 15:44] ryan-storey opened #2296 "Open Liberty GA release blog post for 22.0.0.6"
This issue is to track the tasks involved in creating and publishing the releases notes for an Open Liberty 4-weekly release.

The Open Liberty release notes are presented in three places:
- [Open Liberty blog](https://openliberty.io/blog/) (GA and beta features; [example](https://openliberty.io/blog/2020/05/07/EJB-persistent-timers-20005.html))
- [Red Hat Runtimes release notes for Open LIberty](

[2022-06-06 08:20] jamiecoleman92 commented on #1566
[Open Liberty & Semeru Blog.docx](https://github.com/OpenLiberty/blogs/files/8842903/Open.Liberty.Semeru.Blog.docx)
Here is the latest version of the blog post. @yeekangc if you could give it a quick review that then I will convert it to ASCII Doc and make a PR.

[2022-06-08 05:56] #2269 closed, assigned to ryan-storey

[2022-06-08 05:56] #2296 closed, assigned to ryan-storey

[2022-06-08 14:21] jdmcclur opened #2316 "Performance Blog Post - Highlighting mpJWT improvements in Open Liberty."
This blog post will focus on the many changes we made in Open Liberty over the last few releases to improve mpJWT processing.

I hope to publish the blog post on June 13, 2022.

[2022-06-13 13:22] yeekangc opened #2336 "Syndicate Ben's "How To Develop a User Feature" blog post"
@bmarwell published a blog post about developing a user feature at https://blog.bmarwell.de/2022/06/10/developing-an-ibm-openliberty-feature.html.  Let us pick it up on openliberty.io.  @dmuelle @GraceJansen, can you please take a look at doing this?

This goes well with what you are working on for #1972 too, @jjiwooLim?

Cc @lauracowen @Emily-Jiang

[2022-06-13 17:06] uhryniuk opened #2337 "Update pack command for Paketo Blog Post"
Hello @kevin-ortega & @hwibell!

I've been working with your blog post on [Paketo buildpacks](https://openliberty.io/blog/2022/04/01/cloud-native-liberty-buildpack.html) for Open Liberty and noticed that the code block below is not functional since `guide-getting-started` has been updated to use `JakartaEE9` and `MicroProfile5`.

`pack build --env BP_JAVA_APP_SERVER=liberty --env BP_LIBERTY_PROFIL

[2022-06-13 18:02] kevin-ortega commented on #2337
@uhryniuk Thank you for letting us know.  We'll fix it.

[2022-06-13 18:23] yeekangc commented on #1566
@jamiecoleman92, you can submit a PR with the draft and we can iterate on it.

Can we dive deeper into the technical aspects and advantages of OpenJ9 as a VM?  e.g., how it goes well with Liberty for cloud-native workloads?  Is there any perf data we can share?  Cc @vijaysun-omr.

Also, I am not sure we need to repeat what is Open Liberty since this is the Open Liberty blog.

It's "IBM Semeru Runt

[2022-06-13 21:25] vijaysun-omr commented on #1566
I agree with YK, the JDK distribution is what is referred to as "IBM Semeru Runtimes", the JVM's name is Eclipse OpenJ9. We should be clear in expressing that so that users also see the right terminology (in Semeru's case, it is still fairly new).

There are some performance results with the OpenJ9 JVM shown on openliberty.io itself and we should probably link to that homepage. There are also othe

[2022-06-13 21:33] vijaysun-omr commented on #1566
There is also https://www.eclipse.org/openj9/performance/ that lists some information about Eclipse OpenJ9's characteristics including some quotes from people who have tried it.

[2022-06-13 21:35] jamiecoleman92 commented on #1566
Thanks for the feedback @yeekangc & @vijaysun-omr
I will incorporate the above and create a PR with everything in markdown.
@rhagarty if you can think of anything I should add let me know in a comment here.

[2022-06-13 22:33] #2316 closed, assigned to jdmcclur

[2022-06-15 10:41] lauracowen commented on #1566
Some thoughts as I read through the draft in the .doc file above:
* I agree, we don't need the section about Open Liberty.
* I feel that there's a lot of "tell" and not "show". I don't mean there needs to be a code demo; just that there are a lot of "best", "perfectly matched", "great" etc claims that aren't clearly evidenced. So it comes across as a bit marketing-y (early on at least, which is wh

[2022-06-17 15:38] yeekangc opened #2351 "Learn cloud-native Java development with Jakarta EE & MicroProfile in Japanese"
Consider a blog post that talks about how we can use the Open Liberty guides to learn about cloud-native Java development with Jakarta EE and MicroProfile in Japanese.  @una-tapa @takakiyo have an approach that works rather nicely and easily.  (Thank you!)

Use this to work through handling non-English blog posts on opneliberty.io too.

Cc @kinueng @lauracowen @GraceJansen @dmuelle

[2022-06-17 15:40] yeekangc commented on #2351
@una-tapa, feel free to take ownership of this issue.  =)  Thanks.

[2022-06-23 14:28] yeekangc opened #2362 "Eclipse Cargo Tracker on Open Liberty"
Write about Eclispe Cargo Tracker running on Open Liberty.

Cc @gkwan-ibm @ocseal

[2022-06-29 09:49] ryan-storey opened #2366 "Open Liberty release blog post for 22.0.0.7"
This issue is to track the tasks involved in creating and publishing the GA and beta release notes for an Open Liberty release.

The Open Liberty release notes are published as a post on the [Open Liberty blog](https://openliberty.io/blog/):
- [GA blog post example](https://openliberty.io/blog/2022/06/07/microprofile-graphql-2-22006.html)
- [beta blog post example](https://openliberty.io/blog/2022

[2022-06-29 10:22] ryan-storey opened #2368 "Open Liberty release blog post for 22.0.0.8-beta"
This issue is to track the tasks involved in creating and publishing the GA and beta release notes for an Open Liberty release.

The Open Liberty release notes are published as a post on the [Open Liberty blog](https://openliberty.io/blog/):
- [GA blog post example](https://openliberty.io/blog/2022/06/07/microprofile-graphql-2-22006.html)
- [beta blog post example](https://openliberty.io/blog/2022

[2022-06-30 09:29] jamiecoleman92 commented on #1566
I am finished making the updates suggested above. Who is best to give my blog post another review?

[2022-06-30 09:39] jamiecoleman92 commented on #1566
Also @lauracowen am I allowed to use images and if so could I use the performance comparison image on this site in this blog?
https://www.eclipse.org/openj9/performance/

[2022-06-30 09:53] lauracowen commented on #1566
Definitely use images if you can find some. Talk to @vijaysun-omr about what's appropriate. From a licencing perspective, check what Eclipse's licence is.

[2022-06-30 10:19] jamiecoleman92 commented on #1566
@lauracowen I think the image is available under the EPL licence so I should be okay to use it but I am not the best at determining T&Cs. This is the most relevant info I could find on it's usage:
"To the extent you wish to upload, submit, or otherwise make Non-Code Content (as defined below) available to the Eclipse Foundation and/or the Members and/or users of this Web site, you may make that ma

[2022-06-30 12:32] jamiecoleman92 commented on #1566
@vijaysun-omr have you every used that image and do you know what the T&C's are around it's usage?

[2022-06-30 13:07] jamiecoleman92 commented on #1566
Alright I have a draft ready to review in Asciidoc @GraceJansen & @lauracowen

[2022-06-30 22:01] vijaysun-omr commented on #1566
I have asked Tony Renaud about the licensing question even though I am thinking that it is probably okay.

[2022-07-05 09:03] jamiecoleman92 commented on #1566
Any update @vijaysun-omr? If not I will just post it without an image.

[2022-07-05 12:26] aprenaud commented on #1566
Yes, the license permits public display of contributed works, and the requirements make no mention of attribution other than not removing any trademarks, copyright, patent, trademark, attribution notices etc that already exist.

[2022-07-11 14:52] awisniew90 opened #2387 "Liberty Tools for Eclipse early release"
Blog announcing the early release of Liberty Tools for Eclipse. Highlight features and provide basic tutorial.

[2022-07-27 16:22] awisniew90 commented on #2387
draft PR: https://github.com/OpenLiberty/blogs/pull/2403

[2022-08-02 14:15] dettmoney opened #2415 "Performance Blog Post - Liberty is the premier application server for running Java EE8 workloads"
This blog post will focus on comparing throughput, memory footprint, and first response time of daytrader8 running on Open Liberty compared to wildfly, jboss, and payara.

Our hope is to publish the blog post on August 8, 2022.

[2022-08-05 09:55] lauracowen opened #2437 "Liberty makers blog post"
I thought I'd write a blog post for publishing on the 5th birthday ([19th Sept](https://openliberty.io/blog/2017/09/19/open-sourcing-liberty.html)) (or if not that date, alter the first sentence!) about the Makers/Crafters of the Liberty team (ie any non-software making)….

See PR for moving to staging and for last-minute changes needed: https://github.com/OpenLiberty/blogs/pull/2495

Open Liberty

[2022-08-11 13:12] #2368 closed, assigned to ryan-storey

[2022-08-11 13:13] #2366 closed, assigned to ryan-storey

[2022-08-11 13:16] gljrobinson commented on #2387
This has been published: https://openliberty.io/blog/2022/08/01/liberty-tools-eclipse.html

[2022-08-11 13:16] #2387 closed, assigned to nobody

[2022-08-11 13:32] gljrobinson commented on #2337
Hi @uhryniuk, thanks for letting us know about this and opening an issue here for it. If you're happy with the changes Kevin has made, would you be happy for me to close this issue?

[2022-08-11 13:33] gljrobinson commented on #1972
This has been published.

[2022-08-11 13:33] #1972 closed, assigned to jagraj, jjiwooLim

[2022-08-11 13:37] gljrobinson commented on #2415
Hi @dettmoney, I just wanted to check in to see how progress is coming along with this blog? I see you wanted it published by the 8th August. Given this has passed, is there a new date you'd like to aim to publish?

[2022-08-11 13:40] #2337 closed, assigned to nobody

[2022-08-11 13:42] uhryniuk commented on #2337
Hi @GraceJansen, thanks for letting me know. Yeah, it looks great I went ahead and closed it. cheers

[2022-08-11 13:49] gljrobinson commented on #1566
Aiming to publish this the week commencing the 15th August

[2022-08-11 13:51] dettmoney commented on #2415
I'm going to work toward a new date of August 15. Thanks.

[2022-08-11 13:53] gljrobinson commented on #2362
This is scheduled to be published the week commencing the 22nd August.

[2022-08-11 14:00] gljrobinson commented on #2336
FYI @dmuelle
Target publish date for this blog is the week commencing 29th August.

[2022-08-16 15:36] shamjithantholi opened #2480 "Blog about MicroProfile configuration management on container"
Blog about MicroProfile configuration management on container

[2022-08-16 22:25] una-tapa commented on #2351
Hello,reviewers (@yeekangc@kinueng @lauracowen @GraceJansen @dmuelle)

I will appreciate your review for the following draft.  The actual article will be in Japanese. It is a translated version to get your review on the contents. Suggestions and corrections will be really appreciated.

https://github.com/OpenLiberty/blogs/blob/japanese-blog-test/posts/2022-09-01-openliberty-guides-in-japaneseE.ado

[2022-08-17 13:52] kinueng commented on #2351
Hi @una-tapa,
Very exciting to have our first multi-language blog post!

This week we merged our initial code to support non English content to openliberty.io. I will run with this new Japanese `adoc` file and use it with our new multi-language code.

I see the blog post gives some instructions on how to use browser machine translation technology https://openliberty.io/guides/. This may change as

[2022-08-17 14:18] lauracowen commented on #2351
Hiya @una-tapa

Looks good, nice and simple and clear. The one comment I had was where it says "The contents of the Guides have tags around code and commands. This helps the translation to be only applied to the explanations leaving the code and commands unchanged. "

* The first sentence seemed like something a user of the guides shouldn't care about (how we construct/build/translated the guides)

[2022-08-17 18:00] una-tapa commented on #2351
@kinueng  That's exciting to hear that multi-language support is getting in. Please keep me posted on the result after running it with Japanese adoc. If it breaks, I will adjust adoc.  I will try the instruction again (and ask Japan team to try also) after the support went in.

@lauracowen  Wow, great suggestion.  I will remove these lines. .

Just a background, We found Liberty Guides get transla

[2022-08-18 08:42] lauracowen commented on #2351
@una-tapa Oh wow, that's really good. If you have any other tips, the OL docs team might be interested (if not already involved). cc/ @dmuelle

Thanks for all your help with this!

[2022-08-19 14:30] kinueng commented on #2351
@una-tapa I misunderstood the intent of the section showcasing the use of the browser to machine translate the entire catalog of guides. I had thought the section was suggested as a way to switch between blogs that are written in English and Japanese.

Rather, this whole blog post is to help Japanese readers to consume all our entire catalog if the machine translation from Google is good. Please d

[2022-08-23 17:03] kinueng opened #2508 "Fix broken GitHub URLs for blog authors"
A few of the blog posts have the incorrect author's GitHub URLs. This leads to the GitHub 404 page when clicking on the author name.  Posts that need some attention are below.  One easy way to spot a post needs focus is when you see the author's picture resolve to the GitHub octocat.

- https://openliberty.io/blog/2022/08/04/jakarta-core-profile-22009-beta.html
- https://openliberty.io/blog/2022/0

[2022-08-23 17:09] kinueng commented on #2508
Found out that these are the correct URLs for some of the broken author links
- https://github.com/jjiwooLim
- https://github.com/halim-lee
- https://github.com/ReeceNana

[2022-08-29 18:15] dmuelle commented on #2336
on draft now and scheduled to publish Wed 8/31

https://draft-openlibertyio.mybluemix.net/blog/

[2022-09-05 21:04] una-tapa commented on #2351
Fixed by #2534

@kinueng
I understand that your mind are deep in thinking to see this fits into the current blog structure.  I guess this blog can be used to explore... and if you decide it is not a good time to publish non-English blog, that's fine with me too.

Today, Takakiyo-san found the time to review the contents and gave it OK. So I decided to submit the following PRs to finish my part.

-

[2022-09-07 22:17] dmuelle commented on #2336
This is now published: https://openliberty.io/blog/

[2022-09-07 22:17] #2336 closed, assigned to dmuelle

[2022-09-13 13:07] bmarwell commented on #2336
Thanks!

[2022-09-13 13:38] dmuelle commented on #2336
Thank you @bmarwell for a great post!

[2022-09-15 14:35] gkwan-ibm opened #2555 "Post the graphql client guide to the Open Liberty 22.0.0.10 release blog"
A new guide [Running GraphQL queries and mutations using a GraphQL client](https://openliberty.io/guides/graphql-client.html) was published under the category [REST alternatives](https://openliberty.io/guides/#rest_alternatives).

This should be mentioned in the Open Liberty 22.0.0.10 release blog.

[2022-09-15 15:02] gkwan-ibm commented on #2555
close
- it is a dup of https://github.com/OpenLiberty/open-liberty/issues/22509

[2022-09-15 15:02] #2555 closed, assigned to ReeceNana

[2022-09-15 15:08] tjwatson opened #2557 "Open Liberty release InstantOn blog post for 220011-beta"
This issue is to track the tasks involved in creating and publishing the GA and beta release notes for an Open Liberty release.

The Open Liberty release notes are published as a post on the [Open Liberty blog](https://openliberty.io/blog/):
- [GA blog post example](https://openliberty.io/blog/2022/06/07/microprofile-graphql-2-22006.html)
- [beta blog post example](https://openliberty.io/blog/2022

[2022-09-20 12:38] #1566 closed, assigned to jamiecoleman92, dmuelle

[2022-09-20 12:38] gljrobinson commented on #1566
This has now been published: https://openliberty.io/blog/2022/08/19/open-liberty-semeru-performance.html

[2022-09-20 12:38] gljrobinson commented on #2362
This has now been published: https://openliberty.io/blog/2022/08/24/open-liberty-with-cargo-tracker.html

[2022-09-20 12:38] #2362 closed, assigned to ocseal, dmuelle

[2022-09-20 12:55] gljrobinson commented on #2508
@dmuelle would you mind taking a look at this please?

[2022-09-20 13:28] ReeceNana opened #2566 "Open Liberty release blog post for 22.0.0.10-post"
This issue is to track the tasks involved in creating and publishing the GA and beta release notes for an Open Liberty release.

The Open Liberty release notes are published as a post on the [Open Liberty blog](https://openliberty.io/blog/):
- [GA blog post example](https://openliberty.io/blog/2022/06/07/microprofile-graphql-2-22006.html)
- [beta blog post example](https://openliberty.io/blog/2022

[2022-09-22 10:07] ReeceNana opened #2579 "Open Liberty release blog post for 22.0.0.11-beta-post"
This issue is to track the tasks involved in creating and publishing the GA and beta release notes for an Open Liberty release.

The Open Liberty release notes are published as a post on the [Open Liberty blog](https://openliberty.io/blog/):
- [GA blog post example](https://openliberty.io/blog/2022/06/07/microprofile-graphql-2-22006.html)
- [beta blog post example](https://openliberty.io/blog/2022

[2022-09-22 16:25] dmuelle commented on #2508
these changes were delivered in- https://github.com/OpenLiberty/blogs/pull/2576/files, closing as completed

[2022-09-22 16:25] #2508 closed, assigned to dmuelle

[2022-09-23 10:28] #2566 closed, assigned to ReeceNana

[2022-09-26 11:06] Emily-Jiang opened #2583 "A blog on running MicroProfile applications as a serverless function"
Author a blog on running MicroProfile applications as a serverless function via Cloud Event on IBM Cloud Code Engine.

[2022-09-26 16:51] tjwatson commented on #2557
Closing this blog issue.  Need to open a separate issue to make the stand alone blog

[2022-09-26 16:51] #2557 closed, assigned to nobody

[2022-09-26 16:52] tjwatson opened #2585 "Open Liberty release InstantOn blog post for 220011-beta"
This will be a stand alone blog post about Open Liberty InstantOn.

[2022-09-28 18:34] tpickett1 opened #2598 "Open Liberty blog showing updated MS performance data"
This blog post is based off of a post from 2020 showing MS and springbok performance of OL vs competitors.  Instead of just updating the old post, it was decided to create a new blog post showing off the new and improved performance.  After this post if published, I'll update the old post to have a link to the newer post with data from 2022.

[2022-09-30 08:46] #2579 closed, assigned to ReeceNana

[2022-10-06 13:00] gljrobinson commented on #2585
This is now published.

[2022-10-06 13:00] #2585 closed, assigned to tjwatson

[2022-10-06 13:36] gljrobinson commented on #2219
Seems to be two versions of this on draft site. Older one should be deleted when we merge the newer version in.

https://blogs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/blog/2022/06/30/devsecops.html
https://blogs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/blog/2050/08/12/securing-first-commit-devsecops.html

FYI @dmuelle

[2022-10-06 13:43] gljrobinson commented on #2437
This has been published.

[2022-10-06 13:43] #2437 closed, assigned to lauracowen

[2022-10-06 13:45] gljrobinson commented on #1671
Could perhaps also include the image scanning we do for quality and testing.

[2022-10-06 13:46] gljrobinson commented on #1672
This has now been pushed back to November/December 2022.

[2022-10-06 14:47] gljrobinson commented on #1671
Target date of 1Q23

[2022-10-09 22:27] Emily-Jiang opened #2638 "Add a blog of MicroProfile and Spring comparison in Chinese"
I had my blog [MicroProfile and Spring comparison](https://www.eclipse.org/community/eclipse_newsletter/2019/september/microprofile.php) translated to Chinese by one Chinese engineer Zhao Xin. I will have it published on Open Liberty.

[2022-10-11 16:28] jvanhill opened #2640 "Open Liberty release blog post for distributed security caches in 22.0.0.11"
CANCELLING

[2022-10-14 18:26] #2640 closed, assigned to ReeceNana

[2022-10-24 14:12] awisniew90 opened #2661 "Jakarta LS support for Liberty Tools Eclipse"

[2022-10-26 17:39] kevin-ortega opened #2675 "Create blog about using the Paketo Buildpack for Liberty in IBM Cloud Code Engine"
There is interest in using the Paketo buildpack in Code Engine (CE).  There is no documentation on how to use the buildpack in CE and the CE team does not currently have the bandwidth to create the doc.

We will create a blog to document how to use the buildpack in CE while we wait for the CE documentation to be updated.

[2022-10-28 14:53] awisniew90 commented on #2661
Draft PR: https://github.com/OpenLiberty/blogs/pull/2696

[2022-10-28 15:29] awisniew90 commented on #2661
Draft PR 2: https://github.com/OpenLiberty/blogs/pull/2697/

[2022-10-31 17:37] awisniew90 commented on #2661
Draft PR 3: https://github.com/OpenLiberty/blogs/pull/2701/

[2022-11-01 14:44] awisniew90 commented on #2661
Draft PR 4: https://github.com/OpenLiberty/blogs/pull/2703

[2022-11-07 11:09] gljrobinson commented on #2583
This has been published.

[2022-11-07 11:09] #2583 closed, assigned to Emily-Jiang, abutch3r, dmuelle

[2022-11-07 11:18] gljrobinson commented on #2661
This has been published.

[2022-11-07 11:18] #2661 closed, assigned to nobody

[2022-11-07 19:31] una-tapa opened #2722 "Translate "Liberty InstantOn startup for cloud native Java applications" to Japanese"
This is to be referenced in the Japan Java User Group conference in the "Liberty InstantOn" presentation.
https://openliberty.io/blog/2022/09/29/instant-on-beta.html
by image of author image of author [Thomas Watson](https://github.com/tjwatson) and [Joshua Dettinger ](https://github.com/dettmoney)on Sep 29, 2022

To be Fixed by
https://github.com/OpenLiberty/blogs/pull/2706 (@kinueng )
https://gi

[2022-11-07 20:27] una-tapa opened #2726 "Translate "Simpler OpenID Connect Client configuration using issuer claims in Open Liberty 22.0.0.10" in Japanese"
This is suggested by the local techsales team that the Liberty's Japanese blog will have the GA release blog posts.  (Beta optional)
This issue is for 22.0.0.10 by @mbroz2
https://openliberty.io/blog/2022/09/27/22.0.0.10.html

To be Fixed by
https://github.com/OpenLiberty/blogs/pull/2708 (@kinueng )
https://github.com/OpenLiberty/blogs/pull/2674 (@una-tapa )

[2022-11-07 20:32] una-tapa opened #2727 "Translate "Java SE 19 and distributed security cache support in Open Liberty 22.0.0.11" in Japanese"
This is suggested by the local techsales team that the Liberty's Japanese blog will have the GA release blog posts. (Beta optional)
This issue is for 22.0.0.11 by @mbroz2
https://openliberty.io/blog/2022/10/25/22.0.0.11.html

[2022-11-07 20:44] una-tapa opened #2728 "Let's try Liberty InstantOn on IntelMac"
This is originally a techsales article posted on a popular external blog site (similar to Quora)
https://qiita.com/TTakakiyo/items/215a221ec90426880594

I found the article very useful as
- Many developers are using Mac laptop
- To get InstantOn to work on Mac, additional steps are required for podman
- Having the step-by-step instruction ready with the sample app in github, it took about 10 mins

[2022-11-09 20:37] kinueng commented on #2638
Hi @Emily-Jiang,
Is there are a deadline on when this blog post needs to be published on openliberty.io?

[2022-11-09 23:36] Emily-Jiang commented on #2638
It is not urgent but I would like to push it out in the next couple of weeks if possible.

[2022-11-10 16:53] kinueng commented on #2351
Published https://openliberty.io/ja/blog/2022/09/01/openliberty-guides-in-japanese.html

[2022-11-10 16:53] #2351 closed, assigned to una-tapa

[2022-11-17 14:26] dmuelle commented on #2675
published at https://openliberty.io/blog/2022/11/14/using-codeengine-with-paketo-buildpack-for-liberty.html

closing as completed, thanks

[2022-11-17 14:26] #2675 closed, assigned to kevin-ortega

[2022-11-18 14:12] #2728 closed, assigned to una-tapa, kinueng

[2022-11-30 18:57] scottkurz opened #2769 "Update blog template to show how to install beta features with Maven (liberty-maven-plugin)"
For a blog post like: https://openliberty.io/blog/2022/10/27/22.0.0.12-beta.html we end with the Maven coordinates:
[code]

It would be more useful to show the plugin config that lets you install these features, as we show in:
https://openliberty.io/docs/latest/installing-open-liberty-betas.html#_install_a_beta_features_package_with_maven